2025-12-21T00:00:42.006+05:30/final-analysis-workflow.json
{
  "updatedAt": "2025-12-18T05:00:34.472Z",
  "createdAt": "2025-12-16T05:44:15.783Z",
  "id": "jD9zwhVAvuBav0P5",
  "name": "Final ANALYSIS WORKFLOW",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc",
          "mode": "list",
          "cachedResultName": "PSY EXAM DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "uploaded-images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2928,
        448
      ],
      "id": "f4ff39df-aee9-4148-9cfe-207abd848bee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2704,
        448
      ],
      "id": "90b3a81c-482c-4b42-a42d-31feacbd0669",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2480,
        448
      ],
      "id": "486c157a-05a9-4adb-a73e-8fe399db9102",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1584,
        -112
      ],
      "id": "7d4a57a6-d760-45c0-b8eb-de2743529eff",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc",
          "mode": "list",
          "cachedResultName": "PSY EXAM DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1656127672,
          "mode": "list",
          "cachedResultName": "scanned-data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit#gid=1656127672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "roll_no": "={{ $('Loop Over Items').item.json.rollNumber }}",
            "name": "={{ $('Loop Over Items').item.json.fullName }}",
            "A1": "={{ $('ip-code').item.json.answers[0].answer }}",
            "A2": "={{ $('ip-code').item.json.answers[1].answer }}",
            "A3": "={{ $('ip-code').item.json.answers[2].answer }}",
            "A4": "={{ $('ip-code').item.json.answers[3].answer }}",
            "A5": "={{ $('ip-code').item.json.answers[4].answer }}",
            "A6": "={{ $('ip-code').item.json.answers[5].answer }}",
            "A7": "={{ $('ip-code').item.json.answers[6].answer }}",
            "A8": "={{ $('ip-code').item.json.answers[7].answer }}",
            "A9": "={{ $('ip-code').item.json.answers[8].answer }}",
            "A10": "={{ $('ip-code').item.json.answers[9].answer }}",
            "A11": "={{ $('ip-code').item.json.answers[10].answer }}",
            "A12": "={{ $('ip-code').item.json.answers[11].answer }}",
            "A13": "={{ $('ip-code').item.json.answers[12].answer }}",
            "A14": "={{ $('ip-code').item.json.answers[13].answer }}",
            "A15": "={{ $('ip-code').item.json.answers[14].answer }}",
            "A16": "={{ $('pa-code').item.json.answers[0].answer }}",
            "A17": "={{ $('pa-code').item.json.answers[1].answer }}",
            "A18": "={{ $('pa-code').item.json.answers[2].answer }}",
            "A19": "={{ $('pa-code').item.json.answers[3].answer }}",
            "A20": "={{ $('pa-code').item.json.answers[4].answer }}",
            "A21": "={{ $('pa-code').item.json.answers[5].answer }}",
            "A22": "={{ $('pa-code').item.json.answers[6].answer }}",
            "A23": "={{ $('pa-code').item.json.answers[7].answer }}",
            "A24": "={{ $('pa-code').item.json.answers[8].answer }}",
            "A25": "={{ $('pa-code').item.json.answers[9].answer }}",
            "A26": "={{ $('pa-code').item.json.answers[10].answer }}",
            "A27": "={{ $('pa-code').item.json.answers[11].answer }}",
            "A28": "={{ $('pa-code').item.json.answers[12].answer }}",
            "A29": "={{ $('pa-code').item.json.answers[13].answer }}",
            "A30": "={{ $('pa-code').item.json.answers[14].answer }}",
            "A31": "={{ $('lc-code').item.json.answers[0].answer }}",
            "A32": "={{ $('lc-code').item.json.answers[1].answer }}",
            "A33": "={{ $('lc-code').item.json.answers[2].answer }}",
            "A34": "={{ $('lc-code').item.json.answers[3].answer }}",
            "A35": "={{ $('lc-code').item.json.answers[4].answer }}",
            "A36": "={{ $('lc-code').item.json.answers[5].answer }}",
            "A37": "={{ $('lc-code').item.json.answers[6].answer }}",
            "A38": "={{ $('lc-code').item.json.answers[7].answer }}",
            "A39": "={{ $('lc-code').item.json.answers[8].answer }}",
            "A40": "={{ $('lc-code').item.json.answers[9].answer }}",
            "A41": "={{ $('lc-code').item.json.answers[10].answer }}",
            "A42": "={{ $('lc-code').item.json.answers[11].answer }}",
            "A43": "={{ $('lc-code').item.json.answers[12].answer }}",
            "A44": "={{ $('lc-code').item.json.answers[13].answer }}",
            "A45": "={{ $('lc-code').item.json.answers[14].answer }}",
            "A46": "={{ $('tps-code').item.json.answers[0].answer }}",
            "A47": "={{ $('tps-code').item.json.answers[1].answer }}",
            "A48": "={{ $('tps-code').item.json.answers[2].answer }}",
            "A49": "={{ $('tps-code').item.json.answers[3].answer }}",
            "A50": "={{ $('tps-code').item.json.answers[4].answer }}",
            "A51": "={{ $('tps-code').item.json.answers[5].answer }}",
            "A52": "={{ $('tps-code').item.json.answers[6].answer }}",
            "A53": "={{ $('tps-code').item.json.answers[7].answer }}",
            "A54": "={{ $('tps-code').item.json.answers[8].answer }}",
            "A55": "={{ $('tps-code').item.json.answers[9].answer }}",
            "A56": "={{ $('tps-code').item.json.answers[10].answer }}",
            "A57": "={{ $('tps-code').item.json.answers[11].answer }}",
            "A58": "={{ $('tps-code').item.json.answers[12].answer }}",
            "A59": "={{ $('tps-code').item.json.answers[13].answer }}",
            "A60": "={{ $('tps-code').item.json.answers[14].answer }}",
            "A61": "={{ $('qr-code').item.json.answers[0].answer }}",
            "A62": "={{ $('qr-code').item.json.answers[1].answer }}",
            "A63": "={{ $('qr-code').item.json.answers[2].answer }}",
            "A64": "={{ $('qr-code').item.json.answers[3].answer }}",
            "A65": "={{ $('qr-code').item.json.answers[4].answer }}",
            "A66": "={{ $('qr-code').item.json.answers[5].answer }}",
            "A68": "={{ $('qr-code').item.json.answers[7].answer }}",
            "A67": "={{ $('qr-code').item.json.answers[6].answer }}",
            "A69": "={{ $('qr-code').item.json.answers[8].answer }}",
            "A70": "={{ $('qr-code').item.json.answers[9].answer }}",
            "A71": "={{ $('qr-code').item.json.answers[10].answer }}",
            "A72": "={{ $('qr-code').item.json.answers[11].answer }}",
            "A73": "={{ $('qr-code').item.json.answers[12].answer }}",
            "A74": "={{ $('qr-code').item.json.answers[13].answer }}",
            "A75": "={{ $('qr-code').item.json.answers[14].answer }}",
            "A76": "={{ $('vss-a-code').item.json.answers[0].answer }}",
            "A77": "={{ $('vss-a-code').item.json.answers[1].answer }}",
            "A78": "={{ $('vss-a-code').item.json.answers[2].answer }}",
            "A79": "={{ $('vss-a-code').item.json.answers[3].answer }}",
            "A80": "={{ $('vss-a-code').item.json.answers[4].answer }}",
            "A81": "={{ $('vss-a-code').item.json.answers[5].answer }}",
            "A82": "={{ $('vss-a-code').item.json.answers[6].answer }}",
            "A83": "={{ $('vss-a-code').item.json.answers[7].answer }}",
            "A84": "={{ $('vss-a-code').item.json.answers[8].answer }}",
            "A85": "={{ $('vss-a-code').item.json.answers[9].answer }}",
            "A86": "={{ $('vss-a-code').item.json.answers[10].answer }}",
            "A87": "={{ $('vss-a-code').item.json.answers[11].answer }}",
            "A88": "={{ $('vss-a-code').item.json.answers[12].answer }}",
            "A89": "={{ $('vss-a-code').item.json.answers[13].answer }}",
            "A90": "={{ $('vss-a-code').item.json.answers[14].answer }}",
            "A91": "={{ $('vss-b-code').item.json.answers[0].answer }}",
            "A92": "={{ $('vss-b-code').item.json.answers[1].answer }}",
            "A93": "={{ $('vss-b-code').item.json.answers[2].answer }}",
            "A94": "={{ $('vss-b-code').item.json.answers[3].answer }}",
            "A95": "={{ $('vss-b-code').item.json.answers[4].answer }}",
            "A96": "={{ $('vss-b-code').item.json.answers[5].answer }}",
            "A97": "={{ $('vss-b-code').item.json.answers[6].answer }}",
            "A98": "={{ $('vss-b-code').item.json.answers[7].answer }}",
            "A99": "={{ $('vss-b-code').item.json.answers[8].answer }}",
            "A100": "={{ $('vss-b-code').item.json.answers[9].answer }}",
            "A101": "={{ $('vss-b-code').item.json.answers[10].answer }}",
            "A102": "={{ $('vss-b-code').item.json.answers[11].answer }}",
            "A103": "={{ $('vss-b-code').item.json.answers[12].answer }}",
            "A104": "={{ $('vss-b-code').item.json.answers[13].answer }}",
            "A105": "={{ $('vss-b-code').item.json.answers[14].answer }}",
            "A106": "={{ $('pra-code').item.json.answers[0].answer }}",
            "A107": "={{ $('pra-code').item.json.answers[1].answer }}",
            "A108": "={{ $('pra-code').item.json.answers[2].answer }}",
            "A109": "={{ $('pra-code').item.json.answers[3].answer }}",
            "A110": "={{ $('pra-code').item.json.answers[4].answer }}",
            "A111": "={{ $('pra-code').item.json.answers[5].answer }}",
            "A112": "={{ $('pra-code').item.json.answers[6].answer }}",
            "A113": "={{ $('pra-code').item.json.answers[7].answer }}",
            "A114": "={{ $('pra-code').item.json.answers[8].answer }}",
            "A115": "={{ $('pra-code').item.json.answers[9].answer }}",
            "A116": "={{ $('pra-code').item.json.answers[10].answer }}",
            "A117": "={{ $('pra-code').item.json.answers[11].answer }}",
            "A118": "={{ $('pra-code').item.json.answers[12].answer }}",
            "A119": "={{ $('pra-code').item.json.answers[13].answer }}",
            "A120": "={{ $('pra-code').item.json.answers[14].answer }}",
            "P1": "={{ $('part1a-code1').item.json.answers[0].answer }}",
            "P2": "={{ $('part1a-code1').item.json.answers[1].answer }}",
            "P3": "={{ $('part1a-code1').item.json.answers[2].answer }}",
            "P4": "={{ $('part1a-code1').item.json.answers[3].answer }}",
            "P5": "={{ $('part1a-code1').item.json.answers[4].answer }}",
            "P6": "={{ $('part1a-code1').item.json.answers[5].answer }}",
            "P7": "={{ $('part1a-code1').item.json.answers[6].answer }}",
            "P8": "={{ $('part1a-code1').item.json.answers[7].answer }}",
            "P9": "={{ $('part1a-code1').item.json.answers[8].answer }}",
            "P10": "={{ $('part1a-code1').item.json.answers[9].answer }}",
            "P11": "={{ $('part1a-code1').item.json.answers[10].answer }}",
            "P12": "={{ $('part1a-code1').item.json.answers[11].answer }}",
            "P13": "={{ $('part1a-code1').item.json.answers[12].answer }}",
            "P14": "={{ $('part1a-code1').item.json.answers[13].answer }}",
            "P15": "={{ $('part1a-code1').item.json.answers[14].answer }}",
            "P16": "={{ $('part1a-code1').item.json.answers[15].answer }}",
            "P17": "={{ $('part1a-code1').item.json.answers[16].answer }}",
            "P18": "={{ $('part1a-code1').item.json.answers[17].answer }}",
            "P19": "={{ $('part1a-code1').item.json.answers[18].answer }}",
            "P20": "={{ $('part1a-code1').item.json.answers[19].answer }}",
            "P21": "={{ $('part1b-code').item.json.answers[0].answer }}",
            "P22": "={{ $('part1b-code').item.json.answers[1].answer }}",
            "P23": "={{ $('part1b-code').item.json.answers[2].answer }}",
            "P24": "={{ $('part1b-code').item.json.answers[3].answer }}",
            "P25": "={{ $('part1b-code').item.json.answers[4].answer }}",
            "P26": "={{ $('part1b-code').item.json.answers[5].answer }}",
            "P27": "={{ $('part1b-code').item.json.answers[6].answer }}",
            "P28": "={{ $('part1b-code').item.json.answers[7].answer }}",
            "P30": "={{ $('part1b-code').item.json.answers[9].answer }}",
            "P29": "={{ $('part1b-code').item.json.answers[8].answer }}",
            "P31": "={{ $('part1b-code').item.json.answers[10].answer }}",
            "P32": "={{ $('part1b-code').item.json.answers[11].answer }}",
            "P33": "={{ $('part1b-code').item.json.answers[12].answer }}",
            "P34": "={{ $('part1b-code').item.json.answers[13].answer }}",
            "P35": "={{ $('part1b-code').item.json.answers[14].answer }}",
            "P36": "={{ $('part1b-code').item.json.answers[15].answer }}",
            "P37": "={{ $('part1b-code').item.json.answers[16].answer }}",
            "P38": "={{ $('part1b-code').item.json.answers[17].answer }}",
            "P39": "={{ $('part1b-code').item.json.answers[18].answer }}",
            "P40": "={{ $('part1b-code').item.json.answers[19].answer }}",
            "P41": "={{ $('part1c-code1').item.json.answers[0].answer }}",
            "P42": "={{ $('part1c-code1').item.json.answers[1].answer }}",
            "P43": "={{ $('part1c-code1').item.json.answers[2].answer }}",
            "P44": "={{ $('part1c-code1').item.json.answers[3].answer }}",
            "P45": "={{ $('part1c-code1').item.json.answers[4].answer }}",
            "P46": "={{ $('part1c-code1').item.json.answers[5].answer }}",
            "P47": "={{ $('part1c-code1').item.json.answers[6].answer }}",
            "P48": "={{ $('part1c-code1').item.json.answers[7].answer }}",
            "P49": "={{ $('part1c-code1').item.json.answers[8].answer }}",
            "P50": "={{ $('part1c-code1').item.json.answers[9].answer }}",
            "I1": "={{ $('part2-code').item.json.answers[0].answer }}",
            "I2": "={{ $('part2-code').item.json.answers[1].answer }}",
            "I3": "={{ $('part2-code').item.json.answers[2].answer }}",
            "I4": "={{ $('part2-code').item.json.answers[3].answer }}",
            "I5": "={{ $('part2-code').item.json.answers[4].answer }}",
            "I6": "={{ $('part2-code').item.json.answers[5].answer }}",
            "I7": "={{ $('part2-code').item.json.answers[6].answer }}",
            "I8": "={{ $('part2-code').item.json.answers[7].answer }}",
            "I9": "={{ $('part2-code').item.json.answers[8].answer }}",
            "I10": "={{ $('part2-code').item.json.answers[9].answer }}",
            "I11": "={{ $('part2-code').item.json.answers[10].answer }}",
            "I12": "={{ $('part2-code').item.json.answers[11].answer }}",
            "I13": "={{ $('part2-code').item.json.answers[12].answer }}",
            "I14": "={{ $('part2-code').item.json.answers[13].answer }}",
            "I15": "={{ $('part2-code').item.json.answers[14].answer }}",
            "I16": "={{ $('part2-code').item.json.answers[15].answer }}",
            "I17": "={{ $('part2-code').item.json.answers[16].answer }}",
            "I18": "={{ $('part2-code').item.json.answers[17].answer }}",
            "I19": "={{ $('part2-code').item.json.answers[18].answer }}",
            "I20": "={{ $('part2-code').item.json.answers[19].answer }}",
            "I21": "={{ $('part2-code').item.json.answers[20].answer }}",
            "I22": "={{ $('part2-code').item.json.answers[21].answer }}",
            "I23": "={{ $('part2-code').item.json.answers[22].answer }}",
            "I24": "={{ $('part2-code').item.json.answers[23].answer }}",
            "I25": "={{ $('part2-code').item.json.answers[24].answer }}",
            "I26": "={{ $('part2-code').item.json.answers[25].answer }}",
            "I27": "={{ $('part2-code').item.json.answers[26].answer }}",
            "I28": "={{ $('part2-code').item.json.answers[27].answer }}",
            "I29": "={{ $('part2-code').item.json.answers[28].answer }}",
            "I30": "={{ $('part2-code').item.json.answers[29].answer }}",
            "I31": "={{ $('part2-code').item.json.answers[30].answer }}",
            "I32": "={{ $('part2-code').item.json.answers[31].answer }}",
            "I33": "={{ $('part2-code').item.json.answers[32].answer }}",
            "I34": "={{ $('part2-code').item.json.answers[33].answer }}",
            "I35": "={{ $('part2-code').item.json.answers[34].answer }}",
            "I36": "={{ $('part2-code').item.json.answers[35].answer }}",
            "I38": "={{ $('part2-code').item.json.answers[37].answer }}",
            "I37": "={{ $('part2-code').item.json.answers[36].answer }}",
            "I39": "={{ $('part2-code').item.json.answers[38].answer }}",
            "I40": "={{ $('part2-code').item.json.answers[39].answer }}",
            "I41": "={{ $('part2-code').item.json.answers[40].answer }}",
            "I42": "={{ $('part2-code').item.json.answers[41].answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "roll_no",
              "displayName": "roll_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dob",
              "displayName": "dob",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classes",
              "displayName": "classes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "section",
              "displayName": "section",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coupan",
              "displayName": "coupan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inner_step",
              "displayName": "inner_step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paper_step",
              "displayName": "paper_step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1",
              "displayName": "A1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2",
              "displayName": "A2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A3",
              "displayName": "A3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A4",
              "displayName": "A4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A5",
              "displayName": "A5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A6",
              "displayName": "A6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A7",
              "displayName": "A7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A8",
              "displayName": "A8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A9",
              "displayName": "A9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A10",
              "displayName": "A10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A11",
              "displayName": "A11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A12",
              "displayName": "A12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A13",
              "displayName": "A13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A14",
              "displayName": "A14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A15",
              "displayName": "A15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A16",
              "displayName": "A16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A17",
              "displayName": "A17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A18",
              "displayName": "A18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A19",
              "displayName": "A19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A20",
              "displayName": "A20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A21",
              "displayName": "A21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A22",
              "displayName": "A22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A23",
              "displayName": "A23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A24",
              "displayName": "A24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A25",
              "displayName": "A25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A26",
              "displayName": "A26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A27",
              "displayName": "A27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A28",
              "displayName": "A28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A29",
              "displayName": "A29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A30",
              "displayName": "A30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A31",
              "displayName": "A31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A32",
              "displayName": "A32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A33",
              "displayName": "A33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A34",
              "displayName": "A34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A35",
              "displayName": "A35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A36",
              "displayName": "A36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A37",
              "displayName": "A37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A38",
              "displayName": "A38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A39",
              "displayName": "A39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A40",
              "displayName": "A40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A41",
              "displayName": "A41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A42",
              "displayName": "A42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A43",
              "displayName": "A43",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A44",
              "displayName": "A44",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A45",
              "displayName": "A45",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A46",
              "displayName": "A46",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A47",
              "displayName": "A47",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A48",
              "displayName": "A48",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A49",
              "displayName": "A49",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A50",
              "displayName": "A50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A51",
              "displayName": "A51",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A52",
              "displayName": "A52",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A53",
              "displayName": "A53",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A54",
              "displayName": "A54",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A55",
              "displayName": "A55",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A56",
              "displayName": "A56",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A57",
              "displayName": "A57",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A58",
              "displayName": "A58",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A59",
              "displayName": "A59",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A60",
              "displayName": "A60",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A61",
              "displayName": "A61",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A62",
              "displayName": "A62",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A63",
              "displayName": "A63",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A64",
              "displayName": "A64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A65",
              "displayName": "A65",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A66",
              "displayName": "A66",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A67",
              "displayName": "A67",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A68",
              "displayName": "A68",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A69",
              "displayName": "A69",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A70",
              "displayName": "A70",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A71",
              "displayName": "A71",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A72",
              "displayName": "A72",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A73",
              "displayName": "A73",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A74",
              "displayName": "A74",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A75",
              "displayName": "A75",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A76",
              "displayName": "A76",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A77",
              "displayName": "A77",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A78",
              "displayName": "A78",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A79",
              "displayName": "A79",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A80",
              "displayName": "A80",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A81",
              "displayName": "A81",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A82",
              "displayName": "A82",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A83",
              "displayName": "A83",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A84",
              "displayName": "A84",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A85",
              "displayName": "A85",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A86",
              "displayName": "A86",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A87",
              "displayName": "A87",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A88",
              "displayName": "A88",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A89",
              "displayName": "A89",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A90",
              "displayName": "A90",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A91",
              "displayName": "A91",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A92",
              "displayName": "A92",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A93",
              "displayName": "A93",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A94",
              "displayName": "A94",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A95",
              "displayName": "A95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A96",
              "displayName": "A96",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A97",
              "displayName": "A97",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A98",
              "displayName": "A98",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A99",
              "displayName": "A99",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A100",
              "displayName": "A100",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A101",
              "displayName": "A101",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A102",
              "displayName": "A102",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A103",
              "displayName": "A103",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A104",
              "displayName": "A104",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A105",
              "displayName": "A105",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A106",
              "displayName": "A106",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A107",
              "displayName": "A107",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A108",
              "displayName": "A108",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A109",
              "displayName": "A109",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A110",
              "displayName": "A110",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A111",
              "displayName": "A111",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A112",
              "displayName": "A112",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A113",
              "displayName": "A113",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A114",
              "displayName": "A114",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A115",
              "displayName": "A115",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A116",
              "displayName": "A116",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A117",
              "displayName": "A117",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A118",
              "displayName": "A118",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A119",
              "displayName": "A119",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A120",
              "displayName": "A120",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P1",
              "displayName": "P1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P2",
              "displayName": "P2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P3",
              "displayName": "P3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P4",
              "displayName": "P4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P5",
              "displayName": "P5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P6",
              "displayName": "P6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P7",
              "displayName": "P7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P8",
              "displayName": "P8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P9",
              "displayName": "P9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P10",
              "displayName": "P10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P11",
              "displayName": "P11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P12",
              "displayName": "P12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P13",
              "displayName": "P13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P14",
              "displayName": "P14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P15",
              "displayName": "P15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P16",
              "displayName": "P16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P17",
              "displayName": "P17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P18",
              "displayName": "P18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P19",
              "displayName": "P19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P20",
              "displayName": "P20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P21",
              "displayName": "P21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P22",
              "displayName": "P22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P23",
              "displayName": "P23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P24",
              "displayName": "P24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P25",
              "displayName": "P25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P26",
              "displayName": "P26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P27",
              "displayName": "P27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P28",
              "displayName": "P28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P29",
              "displayName": "P29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P30",
              "displayName": "P30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P31",
              "displayName": "P31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P32",
              "displayName": "P32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P33",
              "displayName": "P33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P34",
              "displayName": "P34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P35",
              "displayName": "P35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P36",
              "displayName": "P36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P37",
              "displayName": "P37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P38",
              "displayName": "P38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P39",
              "displayName": "P39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P40",
              "displayName": "P40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P41",
              "displayName": "P41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P42",
              "displayName": "P42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P43",
              "displayName": "P43",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P44",
              "displayName": "P44",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P45",
              "displayName": "P45",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P46",
              "displayName": "P46",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P47",
              "displayName": "P47",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P48",
              "displayName": "P48",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P49",
              "displayName": "P49",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P50",
              "displayName": "P50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I1",
              "displayName": "I1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I2",
              "displayName": "I2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I3",
              "displayName": "I3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I4",
              "displayName": "I4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I5",
              "displayName": "I5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I6",
              "displayName": "I6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I7",
              "displayName": "I7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I8",
              "displayName": "I8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I9",
              "displayName": "I9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I10",
              "displayName": "I10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I11",
              "displayName": "I11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I12",
              "displayName": "I12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I13",
              "displayName": "I13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I14",
              "displayName": "I14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I15",
              "displayName": "I15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I16",
              "displayName": "I16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I17",
              "displayName": "I17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I18",
              "displayName": "I18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I19",
              "displayName": "I19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I20",
              "displayName": "I20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I21",
              "displayName": "I21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I22",
              "displayName": "I22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I23",
              "displayName": "I23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I24",
              "displayName": "I24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I25",
              "displayName": "I25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I26",
              "displayName": "I26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I27",
              "displayName": "I27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I28",
              "displayName": "I28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I29",
              "displayName": "I29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I30",
              "displayName": "I30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I31",
              "displayName": "I31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I32",
              "displayName": "I32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I33",
              "displayName": "I33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I34",
              "displayName": "I34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I35",
              "displayName": "I35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I36",
              "displayName": "I36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I37",
              "displayName": "I37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I38",
              "displayName": "I38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I39",
              "displayName": "I39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I40",
              "displayName": "I40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I41",
              "displayName": "I41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I42",
              "displayName": "I42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        560
      ],
      "id": "b06226fa-a804-482e-a440-55021c4790fc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.lp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        -688
      ],
      "id": "1470d18b-4821-4d66-8f7e-ea319f5cb399",
      "name": "ip-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        -688
      ],
      "id": "034660ea-60d5-4ec4-b383-dd423b62db42",
      "name": "ip-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -688
      ],
      "id": "a536b762-5766-42ee-ad9d-40876e556f3a",
      "name": "ip-code"
    },
    {
      "parameters": {
        "url": "={{ $json.pa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        -496
      ],
      "id": "3c8775c9-3205-4380-a60b-f188beea6ee3",
      "name": "pa-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        -496
      ],
      "id": "828e7d4a-8a0d-48e7-a597-31338b6c93eb",
      "name": "pa-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -496
      ],
      "id": "3d7b0ee2-a57e-494f-a714-664407911dda",
      "name": "pa-code"
    },
    {
      "parameters": {
        "url": "={{ $json.lc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        -304
      ],
      "id": "ec62d952-caa8-4a54-8e86-5014f7c636eb",
      "name": "lc-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        -304
      ],
      "id": "5e155001-374a-4c71-88ef-3a9d2029a1b3",
      "name": "lc-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -304
      ],
      "id": "1b665522-efb2-40a1-81f9-a55262046f16",
      "name": "lc-code"
    },
    {
      "parameters": {
        "url": "={{ $json.tps }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        -112
      ],
      "id": "bcbe4aad-9faf-4ac8-a67e-b439e03599fc",
      "name": "tps-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        -112
      ],
      "id": "0e9c4882-b9f8-4a3f-ac88-6a88426a1317",
      "name": "tps-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -112
      ],
      "id": "02c83957-26fe-4251-90f4-2f21c3ce1baf",
      "name": "tps-code"
    },
    {
      "parameters": {
        "url": "={{ $json.qr }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        80
      ],
      "id": "ccc7ca1b-0099-4f3c-85da-cf328da563dd",
      "name": "qr-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        80
      ],
      "id": "cb2bf41a-b7c4-4b89-97a6-aed52112a1b8",
      "name": "qr-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        80
      ],
      "id": "e758b663-dc7b-4e88-be62-ece59d8cb4ae",
      "name": "qr-code"
    },
    {
      "parameters": {
        "url": "={{ $json['vss-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        272
      ],
      "id": "5bf71a05-5af4-4f5a-bd42-81d0b24981a4",
      "name": "vss-a-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        272
      ],
      "id": "cfbf8664-7ec8-49ff-8e82-a0a7aed77a28",
      "name": "vss-a-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        272
      ],
      "id": "160c404b-4d0b-48c4-8698-4f1b26ba3043",
      "name": "vss-a-code"
    },
    {
      "parameters": {
        "url": "={{ $json['vss-b'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        464
      ],
      "id": "4026c438-6eb3-4670-afb7-cadcce46e27e",
      "name": "vss-b-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        464
      ],
      "id": "84afa19c-c586-4046-908b-0e295574fbeb",
      "name": "vss-b-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        464
      ],
      "id": "8029d837-b20d-4e58-94c3-8bc9c219add3",
      "name": "vss-b-code"
    },
    {
      "parameters": {
        "url": "={{ $json.pra }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        656
      ],
      "id": "15e80e2e-9974-4116-be92-402afdab3693",
      "name": "pra-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        656
      ],
      "id": "869c20fe-f785-49dd-9f9a-b0915a648ac0",
      "name": "prra-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        656
      ],
      "id": "c5812ecc-2c11-421a-a954-59bab96b5585",
      "name": "pra-code"
    },
    {
      "parameters": {
        "url": "={{ $json['part1-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        848
      ],
      "id": "b58b8b6d-2898-4945-af5d-b6a242ec73b5",
      "name": "part1-a-get1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        848
      ],
      "id": "3f40d7cd-b7c6-461d-8a2e-3d066595fcc1",
      "name": "part1a-code1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 20 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 20 = Q20.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":20,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        848
      ],
      "id": "c831f896-f06f-4432-abda-dba478428a24",
      "name": "part1a-anna1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['part1-b'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        1040
      ],
      "id": "5d29ff9c-1546-4b5c-92cc-522b043cd8dd",
      "name": "part1-b-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 20 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q21 ... row 20 = Q40.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":21,\"answer\":\"A\"},{...},{\"q_no\":40,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        1040
      ],
      "id": "7554b070-5b9c-49b3-98f9-1039366115c7",
      "name": "part1b-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1040
      ],
      "id": "c76d4bb0-a92c-44f8-b98d-91cc41f056c5",
      "name": "part1b-code"
    },
    {
      "parameters": {
        "url": "={{ $json['part1-c'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        1232
      ],
      "id": "fb932a94-d90c-4857-8277-d0f387bb8d4e",
      "name": "part1-c-get1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 10 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q41 ... row 10 = Q50.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":41,\"answer\":\"A\"},{...},{\"q_no\":50,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        1232
      ],
      "id": "f1341654-d73a-4775-9c90-7a5ff33fe73f",
      "name": "part1c-anna1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1232
      ],
      "id": "38b8a98a-715e-432f-9858-d2adef885edc",
      "name": "part1c-code1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1584,
        1104
      ],
      "id": "dc5f4bb7-1822-4a8e-bd8b-013f6530f7af",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "={{ $json['part2-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        1424
      ],
      "id": "3ffaefa2-8fc5-48cb-b26a-d38e3851b0c3",
      "name": "part2-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "text": "You are checking a questionnaire grid with two options per question.\nThere are exactly 42 questions shown in order, each with two boxes: Agree and Disagree.\nDo NOT read or rely on the printed question numbers.\nMap by position only: first row = Q1 ... last row = Q42.\nIf the Agree box is clearly marked, return answer \"A\".\nIf the Disagree box is clearly marked, return answer \"B\".\nIf neither box is clearly marked or its unclear, return null.\nIgnore stray dots or light smudges outside boxes.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":42,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2032,
        1424
      ],
      "id": "30f72229-c01e-4ff8-a47c-a7dc375ea3e2",
      "name": "part2-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractTextSafe(root) {\n  const stack = [root];\n  const seen = new WeakSet();\n\n  while (stack.length) {\n    const cur = stack.pop();\n\n    if (!cur) continue;\n\n    // If it's an array, push its children\n    if (Array.isArray(cur)) {\n      for (let i = 0; i < cur.length; i++) stack.push(cur[i]);\n      continue;\n    }\n\n    // Only objects beyond this point\n    if (typeof cur !== \"object\") continue;\n\n    // Prevent circular loops\n    if (seen.has(cur)) continue;\n    seen.add(cur);\n\n    // Direct match: OpenAI style content[0].text\n    if (cur?.content?.[0]?.text && typeof cur.content[0].text === \"string\") {\n      return cur.content[0].text;\n    }\n\n    // Also common: output_text blocks\n    if (cur?.type === \"output_text\" && typeof cur.text === \"string\") {\n      return cur.text;\n    }\n\n    // Push all object values for searching\n    for (const v of Object.values(cur)) {\n      if (v && (typeof v === \"object\")) stack.push(v);\n    }\n  }\n\n  return null;\n}\n\nfunction parseJsonFromText(text) {\n  let s = String(text).trim();\n\n  // Remove code fences if any\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // First parse attempt\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    // If there's extra junk around JSON, slice braces\n    const start = s.indexOf(\"{\");\n    const end = s.lastIndexOf(\"}\");\n    if (start === -1 || end === -1 || end <= start) {\n      throw new Error(\"Could not locate JSON object braces in the text.\");\n    }\n    s = s.slice(start, end + 1);\n    data = JSON.parse(s);\n  }\n\n  // If model returned JSON as a STRING (like \"{\\\"a\\\":1}\") then parse again\n  if (typeof data === \"string\") {\n    data = JSON.parse(data);\n  }\n\n  return data;\n}\n\nreturn items.map((item) => {\n  const text = extractTextSafe(item.json);\n\n  if (!text) {\n    throw new Error(\"Could not find output text in item.json.\");\n  }\n\n  const data = parseJsonFromText(text);\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1424
      ],
      "id": "1dc4c1b1-3f1c-4109-a237-fff00abfe0b5",
      "name": "part2-code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1360,
        560
      ],
      "id": "09f97bed-f6ed-4010-9f78-27484aa1269b",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3152,
        448
      ],
      "id": "7cdb9aed-f906-481f-ba08-b472dc2ea5da",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -912,
        736
      ],
      "id": "7ae7cef1-efeb-4bf6-9dcb-1b6998c82ad8",
      "name": "Wait",
      "webhookId": "a282985d-0352-4ad1-bcee-57f064ac71ab"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ip-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "pa-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "lc-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "tps-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "qr-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "vss-a-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "vss-b-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "pra-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-a-get1",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-b-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-c-get1",
            "type": "main",
            "index": 0
          },
          {
            "node": "part2-get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-get": {
      "main": [
        [
          {
            "node": "ip-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-ana": {
      "main": [
        [
          {
            "node": "ip-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-get": {
      "main": [
        [
          {
            "node": "pa-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-ana": {
      "main": [
        [
          {
            "node": "pa-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "lc-get": {
      "main": [
        [
          {
            "node": "lc-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lc-ana": {
      "main": [
        [
          {
            "node": "lc-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lc-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "tps-get": {
      "main": [
        [
          {
            "node": "tps-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tps-ana": {
      "main": [
        [
          {
            "node": "tps-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tps-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "qr-get": {
      "main": [
        [
          {
            "node": "qr-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qr-ana": {
      "main": [
        [
          {
            "node": "qr-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qr-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "vss-a-get": {
      "main": [
        [
          {
            "node": "vss-a-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-a-anna": {
      "main": [
        [
          {
            "node": "vss-a-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-a-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "vss-b-get": {
      "main": [
        [
          {
            "node": "vss-b-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-b-anna": {
      "main": [
        [
          {
            "node": "vss-b-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-b-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "pra-get": {
      "main": [
        [
          {
            "node": "prra-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prra-anna": {
      "main": [
        [
          {
            "node": "pra-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pra-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "part1-a-get1": {
      "main": [
        [
          {
            "node": "part1a-anna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1a-anna1": {
      "main": [
        [
          {
            "node": "part1a-code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1-b-get": {
      "main": [
        [
          {
            "node": "part1b-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1b-anna": {
      "main": [
        [
          {
            "node": "part1b-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1-c-get1": {
      "main": [
        [
          {
            "node": "part1c-anna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1c-anna1": {
      "main": [
        [
          {
            "node": "part1c-code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1c-code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "part1a-code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1b-code": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "part2-get": {
      "main": [
        [
          {
            "node": "part2-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part2-ana": {
      "main": [
        [
          {
            "node": "part2-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part2-code": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Execute workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking Execute workflow": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "7c88f130-9f3f-4b66-af63-319d69b10e0e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T05:44:15.790Z",
      "createdAt": "2025-12-16T05:44:15.790Z",
      "role": "workflow:owner",
      "workflowId": "jD9zwhVAvuBav0P5",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}