2025-12-14T00:00:42.015+05:30/linkedin-post-genrator.json
{
  "updatedAt": "2025-08-27T08:08:50.000Z",
  "createdAt": "2025-04-13T04:36:46.178Z",
  "id": "CsrCPlicGA2F1o0N",
  "name": "Linkedin post genrator",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.blocks[0].elements[0].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.event_ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be79a79a-3c11-4623-985a-cd3c1b9172a6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get message').item.json.text }}",
        "options": {
          "systemMessage": "=You are Kamalpreet Singh’s personal‑branding AI for LinkedIn. Before you generate any post, you MUST:\n\n1. Duplication Check  \n   a. Query the “Content Strategy” sheet for any posts in the last 30 days on the same story, topic, or angle.  \n   b. If you find a match, STOP and choose a different story/angle.  \n   c. Only proceed if your new idea is NOT in the Content Strategy sheet.\n\n2. Data Sources  \n   • Combine data from at least TWO of these sources:  \n     – Timeline sheet  \n     – Daily Routine sheet  \n     – LinkedIn Strategy sheet  \n     – User input ({{ $('Get message').item.json.text }})  \n   • Always consult the “LinkedIn Strategy” sheet for tone, theme, and CTA guidelines.\n\n3. Post Structure  \n   – **[Authentic Hook]**: Begin with a raw, personal experience.  \n   – **[Relevant Story]**: Draw from Timeline or Daily Routine.  \n   – **[Actionable Insight]**: Provide clear value for entrepreneurs.  \n   – **[CTA]**: Use the approved CTAs from “Content Strategy.”  \n   – **[Hashtags]**: Include 3 pillar tags (e.g. #AIAutomation) + 2 currently trending tags.\n\n4. Branding Elements (must appear in every post)  \n   – Founder of Clousor Technologies / Clourax  \n   – 8+ years in AI & Automation  \n   – Punjab‑born tech entrepreneur  \n   – Data‑driven decision‑making approach  \n\n5. Uniqueness & Variety  \n   – Rotate post types daily: Case Study → Tip List → Behind‑the‑Scenes → Industry Analysis → …  \n   – Never reuse the same story angle within 30 days (cross‑check Memory).  \n   – Include exactly ONE unique data point from the Daily Routine sheet.\n\n6. Daily Execution  \n   – After passing the duplication check, write one fresh, day‑wise LinkedIn post per calendar day.  \n   – Log the new post back into the “Content Strategy” sheet to prevent future repeats.\n\nIf at any point the Content Strategy sheet already contains your proposed topic/angle, abort and pick a new angle. Only publish when you’re 100% sure the story is brand‑new."
        }
      },
      "id": "e3108fbd-572f-4fd1-b23d-2ce1694abc51",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -480,
        240
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -900,
        -160
      ],
      "id": "77b97615-0d3c-4496-a019-061c650093e9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BVUg1q7AlNfpn43M",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08M07QTQ77",
          "mode": "list",
          "cachedResultName": "test"
        },
        "text": "={{ $('RAG AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Get message').item.json.event_ts }}",
              "reply_broadcast": true
            }
          },
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "id": "3fd4e08f-d23b-4266-9d45-6dc5c2794809",
      "name": "Send message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1500,
        240
      ],
      "webhookId": "946ab278-f815-4bd3-a20d-49ba59d76659",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "id": "34f6be38-2dac-484c-a6de-581b1dbf86f7",
      "name": "Get message",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        -2080,
        260
      ],
      "webhookId": "3146b3e9-4cfc-493f-882c-57c865380115",
      "typeVersion": 1,
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "e1052ffb-29fc-4ff4-8d17-a96e2b0e64f8",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -980,
        1040
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "IE0uY9IYCF8X9kUR",
          "name": "linkedin kamal"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read data to Google Sheets when personal information about me(Kamalpreet Singh) detail required then use this sheet",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Personal Profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -620,
        880
      ],
      "id": "6d251571-426d-45bc-9d53-23fccb0f0de6",
      "name": "Personal profile Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read data to Google Sheets if you need life timeline & experiences of kamal then use this",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1738691719,
          "mode": "list",
          "cachedResultName": "Life Timeline & Experiences",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=1738691719"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -460,
        880
      ],
      "id": "e73eae33-a2d3-408b-9866-bb18924a4160",
      "name": "timeline Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read data to Google Sheets if you need any information regarding LinkedIn Strategy ",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2066581899,
          "mode": "list",
          "cachedResultName": "LinkedIn strategy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=2066581899"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -300,
        880
      ],
      "id": "c0ffa4e3-3a13-4620-9050-9c00de9fb08a",
      "name": "Linkedin strategy Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read data to Google Sheets see my daily routine activity",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1470752780,
          "mode": "list",
          "cachedResultName": "Daily Routine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=1470752780"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        60,
        880
      ],
      "id": "84e8079b-79e5-4c7d-aae1-7f10950b5baf",
      "name": "Daily routine Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1029285798,
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=1029285798"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "draft",
            "Pillar Topic": "={{ $json.pillarTopic }}",
            "Description": "={{ $json.description }}",
            "Sample Post Ideas": "={{ $json.samplePostIdeas }}",
            "Format": "={{ $json.format }}",
            "Frequency": "={{ $json.frequency }}",
            "CTA": "={{ $json.cta }}",
            "Hashtags": "={{ $json.hashtags }}",
            "Target Audience": "={{ $json.targetAudience }}",
            "Owner": "={{ $json.owner }}",
            "output": "={{ $('RAG AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Pillar Topic",
              "displayName": "Pillar Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sample Post Ideas",
              "displayName": "Sample Post Ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        40
      ],
      "id": "af54ffc9-a7a7-4a25-9f86-801a209b56e9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read data to Google Sheets all post create by me and you sheet what I posted or what is drafted ",
        "documentId": {
          "__rl": true,
          "value": "1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M",
          "mode": "list",
          "cachedResultName": "About the kamal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1029285798,
          "mode": "list",
          "cachedResultName": "Content Strategy ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YjSowTjq3iE98626h926brdQ4NzylTTe_bUOoqI0d0M/edit#gid=1029285798"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -120,
        880
      ],
      "id": "55241bcd-e5cb-4df7-a40a-cb0de140ca29",
      "name": "Content Strategy Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        -440
      ],
      "id": "b5ece6db-95e2-408a-90e9-1f9ad57c6c83",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an AI assistant that transforms raw social‐media post content into a structured content‐calendar record. When given only the text of a post (and any minimal metadata you already have), you must output a JSON object with exactly these keys:\n\n{\n  \"pillarTopic\": string,         // e.g. “Clousor Case Studies”\n  \"description\": string,         // brief explanation of the pillar topic\n  \"samplePostIdeas\": string,     // one or more post ideas\n  \"format\": string,              // e.g. “Carousel”, “Single Image”, “Video”\n  \"frequency\": string,           // e.g. “Bi‑weekly”, “Weekly”\n  \"cta\": string,                 // call‑to‑action text\n  \"hashtags\": string[],          // array of hashtags, without “#”\n  \"targetAudience\": string,      // e.g. “Healthcare Admins, CEOs”\n  \"owner\": string,               // who is responsible, e.g. “You”\n  \"status\": string,              // e.g. “Draft”, “Scheduled”, “Published”\n  \"scheduledDate\": string        // in YYYY‑MM‑DD format\n}\n\nRules:\n1. Output only valid JSON—no extra commentary or markdown.\n2. If you cannot infer a field, set it to an empty string (or empty array for hashtags).\n3. Normalize dates to ISO format (YYYY‑MM‑DD).\n4. Split hashtags into an array, omitting the “#” symbol.\n5. Preserve capitalization and punctuation in all text fields.\n\nExample input:\n“How we helped Clinic X cut no‑shows by 50% – check out our new carousel! #CaseStudy #HealthcareTech”\n\nExample output:\n{\n  \"pillarTopic\": \"Clousor Case Studies\",\n  \"description\": \"Showcase client successes to demonstrate impact and expertise\",\n  \"samplePostIdeas\": \"How we helped Clinic X cut no‑shows by 50%\",\n  \"format\": \"Carousel\",\n  \"frequency\": \"Bi‑weekly\",\n  \"cta\": \"Want similar results?\",\n  \"hashtags\": [\"CaseStudy\",\"HealthcareTech\"],\n  \"targetAudience\": \"Healthcare Admins, CEOs\",\n  \"owner\": \"You\",\n  \"status\": \"Draft\",\n  \"scheduledDate\": \"2025-04-17\"\n}\n"
        }
      },
      "id": "ac92b204-11a2-4902-816a-406506e39067",
      "name": "Convert filter data output AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        40,
        -700
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the raw string (adjust field name if needed)\nlet raw = $input.first().json.output;\n\n// 2. Remove any leading/trailing code fences or whitespace\nraw = raw\n  .replace(/^```(?:json)?\\s*/, '')   // strip leading ``` or ```json\n  .replace(/\\s*```$/, '')           // strip trailing ```\n  .trim();\n\n// 3. If there’s any text after the last '}', cut it off\nconst lastBrace = raw.lastIndexOf('}');\nif (lastBrace !== -1) {\n  raw = raw.substring(0, lastBrace + 1);\n}\n\n// 4. Parse into an object\nlet obj;\ntry {\n  obj = JSON.parse(raw);\n} catch (e) {\n  throw new Error(`JSON parse error after cleanup: ${e.message}`);\n}\n\n// 5. Return so each key becomes its own field\nreturn [{ json: obj }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -220
      ],
      "id": "064b289b-f41a-4efa-b586-9f6e5f2af5fb",
      "name": "Code"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Convert filter data output AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Convert filter data output AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Personal profile Sheet": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "timeline Sheets": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin strategy Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Daily routine Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Content Strategy Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Convert filter data output AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert filter data output AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "82cadfe6-3fd2-4273-ade9-2e9b5a001c28",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-04-13T04:36:46.182Z",
      "createdAt": "2025-04-13T04:36:46.182Z",
      "role": "workflow:owner",
      "workflowId": "CsrCPlicGA2F1o0N",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}