2025-11-27T02:57:27.690-05:00/linkedin-post-genrator-mahvi.json
{
  "createdAt": "2025-05-06T17:10:33.040Z",
  "updatedAt": "2025-11-21T07:36:26.000Z",
  "id": "FW6ioeM4shAQPiH8",
  "name": "Linkedin post genrator mahvi",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.text.replace(/<@[^>]+>\\s*/, '').trim() }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.event_ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5a47d23f-9127-49ce-9694-7c89cf01aee9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1860,
        70
      ]
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "id": "498c799f-3ec9-4fd6-91bf-369833e62f71",
      "name": "Get message",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        -2080,
        70
      ],
      "webhookId": "7a531cd6-8e19-4715-9c52-c2e7b11dd2ba",
      "typeVersion": 1,
      "credentials": {
        "slackApi": {
          "id": "3u9gu7UQYClQZs3v",
          "name": "Mahvi Post bot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "anumeet@azinotech.com",
        "toEmail": "={{ $json.data['Recipient\\'s email address'] }}",
        "subject": "Enhance Your Online Presence with a Custom Website for your personal brand",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Azino Tech Proposal</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      margin: 20px;\n    }\n    .container {\n      max-width: 700px;\n      margin: auto;\n    }\n    h2 {\n      color: #2c3e50;\n    }\n    a {\n      color: #3498db;\n      text-decoration: none;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <p>Hello {{ $json.data['Recipient\\'s Name'] }},</p>\n\n    <p>We hope this message finds you well.</p>\n\n    <p>\n      We're <strong>Azino Tech</strong>, a web development studio that specializes in building custom websites for content creators, influencers, and educators. Our goal is to help creators like you grow your brand, expand your reach, and unlock new revenue opportunities through powerful, personalized online platforms.\n    </p>\n\n    <p>\n      We've been following your work on YouTube and are genuinely impressed by the content you create and the community you’ve built. Your influence deserves a digital home that reflects your brand and supports your growth.\n    </p>\n\n    <h2>Why Consider a Custom Website?</h2>\n    <ul>\n      <li><strong>Centralized Hub</strong> for all your videos, podcasts, blogs, and more</li>\n      <li><strong>Better Monetization</strong> via affiliate marketing, sponsored content, and ads</li>\n      <li><strong>Direct Product Sales</strong>, including courses, merch, or memberships</li>\n      <li><strong>Stronger SEO</strong> to attract a broader and more engaged audience</li>\n    </ul>\n\n    <h2>Our Proposal:</h2>\n    <p>\n      We’d love to build a custom website tailored to your brand and goals—something along the lines of \n      <a href=\"https://www.sirlekhtv.com/\" target=\"_blank\">sirlekhtv.com</a>, designed to both showcase your work and create meaningful opportunities for monetization and engagement.\n    </p>\n\n    <h2>Let’s Connect:</h2>\n    <p>\n      We’d be happy to chat about your vision and how we can bring it to life. Are you available for a brief call this week? Let us know a time that works best for you.\n    </p>\n\n    <p>Looking forward to collaborating and helping you grow your digital presence.</p>\n\n    <p>Warm regards,<br>\n    <strong>Azino Tech</strong><br>\n    <a href=\"mailto:contact@azinotech.com\">contact@azinotech.com</a><br>\n    +91 76580-44490<br>\n    <a href=\"https://www.azinotech.com\" target=\"_blank\">www.azinotech.com</a>\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "ccEmail": "mahabeer.fcs.gna@gmail.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -682,
        170
      ],
      "id": "c9d25375-ba24-4c1d-9ff2-3b9739689291",
      "name": "Send Email",
      "webhookId": "44f986ed-fdc5-466d-9afe-101387153de7",
      "alwaysOutputData": false,
      "credentials": {
        "smtp": {
          "id": "RP5RONI227FzZNe7",
          "name": "Anumeet SMTP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d906cd7b-e514-4ace-b5ad-7a2c49d6793f",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1640,
        70
      ],
      "id": "b2bd4074-4c2b-4331-b453-f774c19cf30b",
      "name": "Action Check"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "new-channel",
          "mode": "name"
        },
        "text": "🤖 Available Bot Actions: 1. `@LinkedInPost send-email` 2. `@LinkedInPost generate-post`",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1420,
        170
      ],
      "id": "6b8f1b60-37ff-42b3-a164-f12ccca4b5ff",
      "name": "No Action message",
      "webhookId": "18369e74-3916-49fa-a283-53ad4affc03e",
      "credentials": {
        "slackApi": {
          "id": "3u9gu7UQYClQZs3v",
          "name": "Mahvi Post bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "generate-post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81f08017-f597-4921-994c-a4682bcf39b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generate-post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b07dea0f-b234-4b03-a3ba-572c42809884",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "send-email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send-email"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1420,
        -30
      ],
      "id": "dab0df68-902e-4046-9bff-b87e02ff5e81",
      "name": "Switch: Action based response"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "new-channel",
          "mode": "name"
        },
        "message": "Please fill following form to send email.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Recipient's email address",
              "fieldType": "email",
              "placeholder": "Enter email address",
              "requiredField": true
            },
            {
              "fieldLabel": "Recipient's Name",
              "placeholder": "Enter name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "responseFormTitle": "Recipient Information"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1090,
        170
      ],
      "id": "72aebbec-c1f0-45fe-a646-2f38c031747f",
      "name": "Slack: Collect email data",
      "webhookId": "07f55140-e413-4c89-93af-5d5361126a83",
      "credentials": {
        "slackApi": {
          "id": "3u9gu7UQYClQZs3v",
          "name": "Mahvi Post bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "new-channel",
          "mode": "name"
        },
        "text": "=Email sent to {{ $json.accepted[0] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -384,
        170
      ],
      "id": "305fcea1-dc37-4cb0-a042-f3951398235c",
      "name": "Success message",
      "webhookId": "18369e74-3916-49fa-a283-53ad4affc03e",
      "credentials": {
        "slackApi": {
          "id": "3u9gu7UQYClQZs3v",
          "name": "Mahvi Post bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a new post",
        "options": {
          "systemMessage": "=You are a LinkedIn content generation assistant for Mahabeer, the co-founder of AzinoTech — a digital innovation company offering tech services and internship opportunities across India.\n\nYou MUST generate a complete, high-quality LinkedIn post, fully structured and ready to publish.\n\nGet company information form the Google sheet\n\n# RULES TO FOLLOW\n\n1. **Post Type Rotation (choose 1 automatically)**\n   - Rotate daily between:  Company growth tip, Industry trend, AI, Future of IT.\n   - Do NOT ask which type to generate — always pick one based on variety.\n\n2. **Post Structure**\n   - Hook: Start with a raw, real, or emotional statement.\n   - Story: Give a brief but relatable moment or experience from Mahabeer or AzinoTech ( client win, breakthrough).\n   - Insight: Share a takeaway others in tech or entrepreneurship can learn from.\n   - CTA: Encourage engagement (e.g., apply, follow, connect, explore website).\n   - Hashtags: Always include **#AzinoTech #TechForGrowth #InternshipOpportunity** + 2 current trending tech-related hashtags.\n   - Use emojis to enhance tone and friendliness.\n\n3. **Brand Tone**\n   - Founder-focused, visionary, inspirational.\n   - Always highlight Mahabeer’s role as a co-founder and his focus on student empowerment and digital innovation.\n   - Assume data source sheets exist (Interns, Strategy, Timeline, Routine), and pull believable but generalizable moments from them.\n\n4. **Autonomous**\n   - Do not ask for additional input.\n   - Do not wait for context.\n   - Always generate a complete, self-contained post.\n\nBegin now. Generate a new post for Mahabeer based on the above. Output only the post.\n"
        }
      },
      "id": "12bf52f5-4452-465c-92f7-85a93c41cb09",
      "name": "RAG AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1168,
        -280
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1200,
        -60
      ],
      "id": "52f812b8-92f5-4bb6-91a2-5adf97695a08",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BVUg1q7AlNfpn43M",
          "name": "Mahvi Account gemini"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1080,
        -60
      ],
      "id": "58725cc6-c9db-46d7-b5bd-a1af8e84632a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CWvUVs5gak3AwHKV",
          "name": "Postgres account:mahvi"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "documentId": {
          "__rl": true,
          "value": "1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw",
          "mode": "list",
          "cachedResultName": "Azino Tech Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "About the company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -960,
        -60
      ],
      "id": "f45531df-e169-4d45-86b1-2fdab7658e32",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3CdS47oCH59Cc8vI",
          "name": "Google Sheets account: mahvi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an AI assistant that transforms raw social‐media post content into a structured content‐calendar record. When given only the text of a post (and any minimal metadata you already have), you must output a JSON object with exactly these keys:\n\n{\n  \"pillarTopic\": string,         // e.g. “Azino Case Studies”\n  \"description\": string,         // brief explanation of the pillar topic\n  \"samplePostIdeas\": string,     // one or more post ideas\n  \"format\": string,              // e.g. “Carousel”, “Single Image”, “Video”\n  \"frequency\": string,           // e.g. “Bi‑weekly”, “Weekly”\n  \"cta\": string,                 // call‑to‑action text\n  \"hashtags\": string[],          // array of hashtags, without “#”\n  \"targetAudience\": string,      // e.g. “Healthcare Admins, CEOs”\n  \"owner\": string,               // who is responsible, e.g. “You”\n  \"status\": string,              // e.g. “Draft”, “Scheduled”, “Published”\n  \"scheduledDate\": string        // in YYYY‑MM‑DD format\n}\n\nRules:\n1. Output only valid JSON—no extra commentary or markdown.\n2. If you cannot infer a field, set it to an empty string (or empty array for hashtags).\n3. Normalize dates to ISO format (YYYY‑MM‑DD).\n4. Split hashtags into an array, omitting the “#” symbol.\n5. Preserve capitalization and punctuation in all text fields.\n\nExample input:\n“How we helped Clinic X cut no‑shows by 50% – check out our new carousel! #CaseStudy #HealthcareTech”\n\nExample output:\n{\n  \"pillarTopic\": \"Azino Case Studies\",\n  \"description\": \"Showcase client successes to demonstrate impact and expertise\",\n  \"samplePostIdeas\": \"How we helped Clinic X cut no‑shows by 50%\",\n  \"format\": \"Carousel\",\n  \"frequency\": \"Bi‑weekly\",\n  \"cta\": \"Want similar results?\",\n  \"hashtags\": [\"CaseStudy\",\"HealthcareTech\"],\n  \"targetAudience\": \"Healthcare Admins, CEOs\",\n  \"owner\": \"You\",\n  \"status\": \"Draft\",\n  \"scheduledDate\": \"2025-04-17\"\n}\n"
        }
      },
      "id": "2810bfa2-6891-4ad8-b4c9-aeb833f8cc92",
      "name": "Convert filter data output AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -760,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the raw string (adjust field name if needed)\nlet raw = $input.first().json.output;\n\n// 2. Remove any leading/trailing code fences or whitespace\nraw = raw\n  .replace(/^```(?:json)?\\s*/, '')   // strip leading ``` or ```json\n  .replace(/\\s*```$/, '')           // strip trailing ```\n  .trim();\n\n// 3. If there’s any text after the last '}', cut it off\nconst lastBrace = raw.lastIndexOf('}');\nif (lastBrace !== -1) {\n  raw = raw.substring(0, lastBrace + 1);\n}\n\n// 4. Parse into an object\nlet obj;\ntry {\n  obj = JSON.parse(raw);\n} catch (e) {\n  throw new Error(`JSON parse error after cleanup: ${e.message}`);\n}\n\n// 5. Return so each key becomes its own field\nreturn [{ json: obj }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -80
      ],
      "id": "69c58a37-1a94-4a82-8181-8f800206de8b",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw",
          "mode": "list",
          "cachedResultName": "Azino Tech Automations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66526702,
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qUB1O9cXZUL315g7kSFOL3pqj1RX2Yj4rK27dhMxnpw/edit#gid=66526702"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pillar Topic": "={{ $json.pillarTopic }}",
            "Description": "={{ $json.description }}",
            "Sample Post Ideas": "={{ $json.samplePostIdeas }}",
            "Format": "={{ $json.format }}",
            "Frequency": "={{ $json.frequency }}",
            "CTA": "={{ $json.cta }}",
            "Hashtags": "={{ $json.hashtags }}",
            "Target Audience": "={{ $json.targetAudience }}",
            "Owner": "={{ $json.owner }}",
            "Status": "={{ $json.status }}",
            "Scheduled Date": "={{ $json.scheduledDate }}",
            "output": "={{ $('RAG AI Agent1').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Pillar Topic",
              "displayName": "Pillar Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sample Post Ideas",
              "displayName": "Sample Post Ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -164,
        -80
      ],
      "id": "b591705b-af9d-4247-8ddd-28ffbd8e5fed",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3CdS47oCH59Cc8vI",
          "name": "Google Sheets account: mahvi"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08PXB3KWSD",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Get message').item.json.event_ts }}",
              "reply_broadcast": true
            }
          },
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "id": "8988590c-aff0-4cff-889b-1d135c23ba1b",
      "name": "Send message",
      "type": "n8n-nodes-base.slack",
      "position": [
        -682,
        -280
      ],
      "webhookId": "946ab278-f815-4bd3-a20d-49ba59d76659",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "3u9gu7UQYClQZs3v",
          "name": "Mahvi Post bot"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Action Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Check": {
      "main": [
        [
          {
            "node": "Switch: Action based response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Action based response": {
      "main": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Collect email data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Collect email data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Convert filter data output AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent1": {
      "main": [
        [
          {
            "node": "Convert filter data output AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert filter data output AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "032114e9-6c7b-41c5-9d0d-52ca63e7b176",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-06T17:10:33.066Z",
      "updatedAt": "2025-05-06T17:10:33.066Z",
      "role": "workflow:owner",
      "workflowId": "FW6ioeM4shAQPiH8",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "tags": []
}