2026-01-01T00:00:42.006+05:30/reminder-client.json
{
  "updatedAt": "2025-08-27T08:04:50.000Z",
  "createdAt": "2025-04-24T11:30:11.382Z",
  "id": "oEm1cT0pC6dvrCyq",
  "name": "Reminder Client",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -420
      ],
      "id": "8895b3c1-b1f1-46e4-bfdf-96e0e8588a59",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "## Dr Atul meet reminder",
        "height": 440,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        -580
      ],
      "typeVersion": 1,
      "id": "9175088a-5f5f-4399-a246-ee88f1e1b9ab",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C072CSC0UJH",
          "mode": "list",
          "cachedResultName": "internal-information"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📅 Upcoming: Meeting with Dr. Atul\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Date:*\\n{{ $json['Readable date'] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Time:*\\n{{ $json['Readable time'] }} IST\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \":round_pushpin: Online\"\n        }\n      ]\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"action_id\": \"join_meeting\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"New Meet Link\"\n          },\n          \"url\": \"https://meet.google.com/landing\"\n        }\n      ]\n    }\n  ]\n}\n",
        "text": "📅 Meeting with Dr. Atul Madaan",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1100,
        -420
      ],
      "id": "e01162dc-4aff-4d6a-8c74-776680f76945",
      "name": "Atul meet reminder",
      "webhookId": "149b8c47-ce94-4448-be16-0be2d2d29b6f",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 30 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -320
      ],
      "name": "Schedule Last Day",
      "id": "e60fe844-fd4e-412a-9537-0fa69e8c0fbb"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C072CSC0UJH",
          "mode": "list",
          "cachedResultName": "internal-information"
        },
        "text": "🔔 Reminder: Meeting with Dr. Vikas (End of Month)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -260,
        -320
      ],
      "name": "Slack Vikas Monthly",
      "id": "d2872dda-8519-4e68-b914-a45f12ab1cde",
      "webhookId": "9f3e3f92-bbcb-4c96-9cab-954b4ac991de",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -140
      ],
      "name": "Schedule Call Vikas Monday",
      "id": "846665a6-0882-4dfa-a7df-a58b029e1670"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C072CSC0UJH",
          "mode": "list",
          "cachedResultName": "internal-information"
        },
        "text": "📞 Reminder: Call Dr. Vikas today",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -260,
        -140
      ],
      "name": "Slack Call Vikas",
      "id": "b1baadcb-7060-4658-ae27-3bf77b5d4b33",
      "webhookId": "57bae1ff-bea1-4a09-b4e0-4abfb0ea96af",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        40
      ],
      "name": "Schedule Call Aman Monday",
      "id": "82263bd4-4943-4530-92ec-effcfcbd15c8"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C072CSC0UJH",
          "mode": "list",
          "cachedResultName": "internal-information"
        },
        "text": "📞 Reminder: Call Dr. Aman today",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -260,
        40
      ],
      "name": "Slack Call Aman",
      "id": "a94302b1-29a0-422c-abdd-bc1b6fb7bb9e",
      "webhookId": "12f63d75-2a70-4940-852d-38aff99eb0e1",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 1 * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 9 15 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        220
      ],
      "name": "Schedule Visit Ludhiana",
      "id": "b587556f-d825-4aa2-a79f-83f2f5770a1c"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C072CSC0UJH",
          "mode": "list",
          "cachedResultName": "internal-information"
        },
        "text": "✈️ Reminder: Visit Ludhiana — Dr. Tarlochan & Dr. Jaiveer",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -260,
        220
      ],
      "name": "Slack Visit Ludhiana",
      "id": "70fc0894-7e1f-4489-8eda-bc0521a4685d",
      "webhookId": "96d89678-bd3c-44f5-bd72-263fe46ab1af",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 1,3,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1420,
        420
      ],
      "name": "Ads Report Schedule",
      "id": "554ed547-cfb1-40c1-ade9-2a45aebe8996"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C072CSC0UJH",
        "text": "📈 Ads Report Reminder: Please check today's ad performance (Dr. Aman)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -980,
        300
      ],
      "name": "Slack Dr Aman",
      "id": "8c83c978-546f-459a-971d-4c7c85aa88f1",
      "webhookId": "274b3889-43cb-49b6-8d50-4a5b063c074f",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C072CSC0UJH",
        "text": "📈 Ads Report Reminder: Please check today's ad performance (Dr. Vikas)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -980,
        480
      ],
      "name": "Slack Dr Vikas",
      "id": "2401c738-d365-4042-a75e-cdc179174b1c",
      "webhookId": "3f2375e7-dbae-44d6-b041-e7fd98efa20d",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 3 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1420,
        620
      ],
      "name": "Monthly Report Ready Reminder",
      "id": "d3196e87-6ad5-4eb8-8df5-de2a63ea3092"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C072CSC0UJH",
        "text": "🗂 Reminder: Monthly reports should be ready by today (3rd)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1200,
        620
      ],
      "name": "Slack Ready Reminder",
      "id": "cc4b81d6-f643-49f7-81d6-c316bdca8898",
      "webhookId": "54515443-0c9a-474a-8922-6a6a8e6be31d",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 5 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1420,
        780
      ],
      "name": "Monthly Report Send",
      "id": "7bc1c761-2d4a-4fb1-a5d6-9e1b7bec0e5a"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "C072CSC0UJH",
        "text": "📤 Monthly report ready to be sent to clients (5th)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1200,
        780
      ],
      "name": "Slack Send Reminder",
      "id": "be9000f9-7478-40c4-bc4e-e6d36d0f75cb",
      "webhookId": "41c50684-07c1-4289-ab35-fdcbb870c6ec",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Slack account 7"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Atul meet reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Last Day": {
      "main": [
        [
          {
            "node": "Slack Vikas Monthly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Call Vikas Monday": {
      "main": [
        [
          {
            "node": "Slack Call Vikas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Call Aman Monday": {
      "main": [
        [
          {
            "node": "Slack Call Aman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Visit Ludhiana": {
      "main": [
        [
          {
            "node": "Slack Visit Ludhiana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ads Report Schedule": {
      "main": [
        [
          {
            "node": "Slack Dr Aman",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Dr Vikas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Report Ready Reminder": {
      "main": [
        [
          {
            "node": "Slack Ready Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Report Send": {
      "main": [
        [
          {
            "node": "Slack Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Last Day": {
      "recurrenceRules": []
    },
    "node:Schedule Call Vikas Monday": {
      "recurrenceRules": []
    },
    "node:Schedule Call Aman Monday": {
      "recurrenceRules": []
    },
    "node:Schedule Visit Ludhiana": {
      "recurrenceRules": []
    },
    "node:Ads Report Schedule": {
      "recurrenceRules": []
    },
    "node:Monthly Report Ready Reminder": {
      "recurrenceRules": []
    },
    "node:Monthly Report Send": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ea56dba7-8488-4bad-9d26-cd945fe6b7a8",
  "activeVersionId": null,
  "triggerCount": 8,
  "shared": [
    {
      "updatedAt": "2025-04-24T11:30:11.424Z",
      "createdAt": "2025-04-24T11:30:11.424Z",
      "role": "workflow:owner",
      "workflowId": "oEm1cT0pC6dvrCyq",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}