2025-12-04T00:00:40.015+05:30/n8n-workflow-backup-github.json
{
  "createdAt": "2025-11-27T07:25:51.670Z",
  "updatedAt": "2025-11-27T11:46:21.000Z",
  "id": "2CAWHjSTyEQgG2nx",
  "name": "N8N workflow backup Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "0c679af4-4e68-4853-9385-c782cd287bdd",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -64,
        768
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "IVdzV7K9yVZug3Dn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6,
                0
              ]
            }
          ]
        }
      },
      "id": "d3f012bd-5c31-4772-ae70-a77ec73cfb28",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1632,
        576
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "ebd7de9e-5365-4560-8a8a-68afaf2a6e7b",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1184,
        672
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Oh5nhWYDsuzoz7MX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "4564f655-6771-4a64-8d33-8ae75ee8166e",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -736,
        672
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "Oh5nhWYDsuzoz7MX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "1daabe0e-5a7a-4f8a-abc5-118ffb191b87",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -512,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "IVdzV7K9yVZug3Dn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "252ecec2-56b0-42e0-9d07-cb8cbc50d4fc",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        608,
        288
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Oh5nhWYDsuzoz7MX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "2faea3e8-85fe-4c90-8ae0-bbf504fb173d",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -64,
        288
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "3de7899f-88bf-4913-a805-d2c9d24c7314",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        160,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "=dhimankamal",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=n8n",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "fb2135a2-c847-4007-8528-dac0525b4a45",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1280,
        672
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Oh5nhWYDsuzoz7MX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "84217260-1da3-4e0a-8920-0d00b22430ef",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        608,
        672
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "551751e2-cfbd-49bd-ab24-47ecc34e2a4d",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        832,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "69d10c99-4e91-4258-888b-d5f98c8bbc1f",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -288,
        544
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "6e4181cd-dfa3-4a88-86bf-b2aaf5223c1e",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        384,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "IVdzV7K9yVZug3Dn",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "e8e1fb2f-705c-4128-96d8-d09b4f08efd1",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        160,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('n8n').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "bbe1b089-122f-47d4-87c8-7c36122982c9",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        160,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "126e637f-77d3-4e37-bda1-b9651e95a027",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        384,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "42cab964-cc8f-432c-91ed-99402c6bd968",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        384,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "df4d3132-d580-4d10-b8e2-d34c329e44bd",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "313decde-9bd4-4e42-a094-dc0bbe867c2c",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        -64,
        576
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "5678f76e-7561-438e-89ad-5d23c20f90a2",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -512,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "f3b33eb0-352d-4ec0-a08f-d3b7cc7f7d93",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -960,
        672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "dhimankamal"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "n8n"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "73d4d179-9a71-4fca-9d81-8eb67375775f",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1408,
        576
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "65c6519c-870d-4783-8606-7ef4073c86bf",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-27T07:25:51.675Z",
      "updatedAt": "2025-11-27T07:25:51.675Z",
      "role": "workflow:owner",
      "workflowId": "2CAWHjSTyEQgG2nx",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "tags": []
}