2025-12-22T00:00:42.008+05:30/goole-maps-lead-gen-automation.json
{
  "updatedAt": "2025-11-21T17:23:29.000Z",
  "createdAt": "2025-11-21T07:12:18.570Z",
  "id": "HWsUJiPMB4cSjY5V",
  "name": "GOOLE MAPS LEAD GEN AUTOMATION",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const rows = items;\n\nconst keywords = [];\nconst locations = [];\n\nfor (const item of rows) {\n  const kw = item.json['keywords'];\n  const loc = item.json['location'];\n  if (kw && !keywords.includes(kw)) {\n    keywords.push(kw);\n  }\n  if (loc && !locations.includes(loc)) {\n    locations.push(loc);\n  }\n}\n\nconst results = [];\n\nfor (const kw of keywords) {\n  for (const loc of locations) {\n    results.push({\n      json: {\n        query: `${kw} ${loc}`,\n        loc: `${loc}`,\n         kw: `${kw} `\n      },\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1424,
        672
      ],
      "name": "Build all queries",
      "id": "19df9a10-2a30-4e42-995c-24dd168e7019"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XcY0eTVtmKjMdkg20Gpw7zXQVCc94vo2ga3AO48JhUo",
          "mode": "list",
          "cachedResultName": "LEAD SHEET N8N AUTOMATE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcY0eTVtmKjMdkg20Gpw7zXQVCc94vo2ga3AO48JhUo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XcY0eTVtmKjMdkg20Gpw7zXQVCc94vo2ga3AO48JhUo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1648,
        672
      ],
      "name": "Get keywords & locations",
      "id": "8570e4fb-f3a8-4219-89c8-881ee582c9ac",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1872,
        672
      ],
      "id": "3de8fd9a-ec7c-4bbf-b6f3-f9e19c4c991d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1200,
        672
      ],
      "id": "cacb31c1-7293-4f95-8c69-77a63cb7302d",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -976,
        672
      ],
      "id": "0590b66a-10d0-4096-8e07-9b20e5deb850",
      "name": "Wait",
      "webhookId": "e141c7bb-e0b7-40b7-a784-d51ac0fbbec7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -752,
        672
      ],
      "id": "64c99e80-b70a-446e-b348-f6c280f530d6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b53d0110-12a6-45c0-8060-3a7c6856d3bb",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        592,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "e32d5bb4-06b7-42e4-a67e-c2d942038941",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1264,
        144
      ],
      "webhookId": "0fe34756-6e43-4603-8891-5747a9a6500a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "a96c9d8b-4a1f-4ba5-974f-2cf11ed9700e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1712,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}"
      },
      "id": "fb0966a9-4317-479d-9dfe-4a6ff07d5859",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.code",
      "position": [
        1712,
        384
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"
      },
      "id": "20e56233-fd48-4fe8-a8f8-21b566d85720",
      "name": "Extract URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        -80,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.loc }}+{{ $json.kw }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "48063d02-4913-4806-9709-f4c81f75cee7",
      "name": "Scrape Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -304,
        432
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "1f6dbdf1-4583-44d4-b543-d66527abdbbf",
      "name": "Scrape Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1264,
        336
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a6786c58-424a-409a-b87f-8a7592cb7944",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.emails }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d57b6582-7556-4bf9-8fb1-4416908c4403",
      "name": "Filter Out Empties",
      "type": "n8n-nodes-base.filter",
      "position": [
        1488,
        144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bf0a5053-9660-457c-9581-964793bb6d7d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "schema"
            },
            {
              "id": "9110b9e0-12aa-45cc-bde0-9eda8c10970e",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "google"
            },
            {
              "id": "fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "gg"
            },
            {
              "id": "10500c0b-cdbd-4816-aba3-df60d69845dc",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": "gstatic"
            }
          ]
        },
        "options": {}
      },
      "id": "f28d48ae-e239-46dd-b62e-427e6de3f5fd",
      "name": "Filter Google URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        144,
        432
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "330bd592-262d-442a-b0b1-5fc433bffee9",
      "name": "Remove Duplicates (2)",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1936,
        408
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9d6996d-4c75-4b07-89fe-51037146568d",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1040,
        288
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "6dc183d9-4a7b-496c-9dc2-8eed96feff2f",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        1488,
        336
      ],
      "webhookId": "19cc6ed4-4fe7-485b-b879-c679e4b3374d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "72fa0ce2-a7c7-4302-864b-3611c50b72a6",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "position": [
        816,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8f26210-344b-468c-b5da-1b7160c91172",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        432
      ],
      "id": "15986124-88ac-4c1f-a073-129f2057c6ea",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        480
      ],
      "id": "8c5941dd-9bfb-4cbb-a016-2e30cfb224b0",
      "name": "Wait3",
      "webhookId": "477b5179-b214-455e-97c6-dc7ca939a512"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        432
      ],
      "id": "3ba0a5e0-1030-41f0-807e-552ed33a0255",
      "name": "Wait4",
      "webhookId": "a1577268-efe7-41ef-96ae-5970f6125f8f"
    }
  ],
  "connections": {
    "Get keywords & locations": {
      "main": [
        [
          {
            "node": "Build all queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get keywords & locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build all queries": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Filter Out Empties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Site": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URLs": {
      "main": [
        [
          {
            "node": "Filter Google URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Google URLs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Empties": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Google Maps": {
      "main": [
        [
          {
            "node": "Extract URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates (2)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Scrape Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eecabda9-830b-450c-9695-c5968f0f8224",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-21T07:12:18.574Z",
      "createdAt": "2025-11-21T07:12:18.574Z",
      "role": "workflow:owner",
      "workflowId": "HWsUJiPMB4cSjY5V",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}