2025-12-25T00:00:42.008+05:30/analysis-15-question.json
{
  "updatedAt": "2025-12-17T18:00:08.257Z",
  "createdAt": "2025-12-17T17:55:27.447Z",
  "id": "RzsbFdrf1gVPp0MW",
  "name": "analysis-15-question",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1232,
        -528
      ],
      "id": "6533b461-c2a6-4b1a-a807-01a8efb04d22",
      "name": "ip-get1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -528
      ],
      "id": "f8aa5d4a-5843-486b-b028-940f25abcdf3",
      "name": "ip-ana1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -528
      ],
      "id": "4e6f5125-b0d7-4395-8442-dcbdd041888d",
      "name": "ip-code1"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"url\": \"a string\"\n}"
      },
      "id": "31b1848b-4896-4ddc-9a60-c985f99771cf",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1440,
        -528
      ]
    }
  ],
  "connections": {
    "ip-get1": {
      "main": [
        [
          {
            "node": "ip-ana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-ana1": {
      "main": [
        [
          {
            "node": "ip-code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "ip-get1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7c3499c4-cb70-4fa1-94da-ea85683a125d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-17T17:55:27.452Z",
      "createdAt": "2025-12-17T17:55:27.452Z",
      "role": "workflow:owner",
      "workflowId": "RzsbFdrf1gVPp0MW",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}