2025-12-24T00:00:42.007+05:30/testing-5.1.json
{
  "updatedAt": "2025-12-18T04:02:03.000Z",
  "createdAt": "2025-12-18T03:49:44.366Z",
  "id": "Ko6P1vGfmx2Uztut",
  "name": "Testing 5.1",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc",
          "mode": "list",
          "cachedResultName": "PSY EXAM DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "uploaded-images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        1024
      ],
      "id": "3a418eb9-b45b-4347-868c-b25d14b8ef28",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -400,
        1024
      ],
      "id": "8934f26c-ddd5-45a5-9d38-98b0f9397461",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        1024
      ],
      "id": "66101bf3-99ff-4e72-9501-dac99110a997",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        464
      ],
      "id": "04a2d642-e40c-4297-9c62-a6cf49e08ef5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc",
          "mode": "list",
          "cachedResultName": "PSY EXAM DATA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1656127672,
          "mode": "list",
          "cachedResultName": "scanned-data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7uDWHEgV7YoaiNTSs0e5Ibx6_xEzbLEhNMhC24aHsc/edit#gid=1656127672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "roll_no": "={{ $('Loop Over Items').item.json.rollNumber }}",
            "name": "={{ $('Loop Over Items').item.json.fullName }}",
            "A1": "={{ $('ip-code').item.json.answers[0].answer }}",
            "A2": "={{ $('ip-code').item.json.answers[1].answer }}",
            "A3": "={{ $('ip-code').item.json.answers[2].answer }}",
            "A4": "={{ $('ip-code').item.json.answers[4].answer }}",
            "A5": "={{ $('ip-code').item.json.answers[4].answer }}",
            "A6": "={{ $('ip-code').item.json.answers[5].answer }}",
            "A7": "={{ $('ip-code').item.json.answers[6].answer }}",
            "A8": "={{ $('ip-code').item.json.answers[7].answer }}",
            "A9": "={{ $('ip-code').item.json.answers[8].answer }}",
            "A10": "={{ $('ip-code').item.json.answers[9].answer }}",
            "A11": "={{ $('ip-code').item.json.answers[10].answer }}",
            "A12": "={{ $('ip-code').item.json.answers[11].answer }}",
            "A13": "={{ $('ip-code').item.json.answers[12].answer }}",
            "A14": "={{ $('ip-code').item.json.answers[13].answer }}",
            "A15": "={{ $('ip-code').item.json.answers[14].answer }}",
            "A16": "={{ $('pa-code').item.json.answers[0].answer }}",
            "A17": "={{ $('pa-code').item.json.answers[1].answer }}",
            "A18": "={{ $('pa-code').item.json.answers[2].answer }}",
            "A19": "={{ $('pa-code').item.json.answers[3].answer }}",
            "A20": "={{ $('pa-code').item.json.answers[4].answer }}",
            "A21": "={{ $('pa-code').item.json.answers[5].answer }}",
            "A22": "={{ $('pa-code').item.json.answers[6].answer }}",
            "A23": "={{ $('pa-code').item.json.answers[7].answer }}",
            "A24": "={{ $('pa-code').item.json.answers[8].answer }}",
            "A25": "={{ $('pa-code').item.json.answers[9].answer }}",
            "A26": "={{ $('pa-code').item.json.answers[10].answer }}",
            "A27": "={{ $('pa-code').item.json.answers[11].answer }}",
            "A28": "={{ $('pa-code').item.json.answers[12].answer }}",
            "A29": "={{ $('pa-code').item.json.answers[13].answer }}",
            "A30": "={{ $('pa-code').item.json.answers[14].answer }}",
            "A31": "={{ $('lc-code').item.json.answers[0].answer }}",
            "A32": "={{ $('lc-code').item.json.answers[1].answer }}",
            "A33": "={{ $('lc-code').item.json.answers[2].answer }}",
            "A34": "={{ $('lc-code').item.json.answers[3].answer }}",
            "A35": "={{ $('lc-code').item.json.answers[4].answer }}",
            "A36": "={{ $('lc-code').item.json.answers[5].answer }}",
            "A37": "={{ $('lc-code').item.json.answers[6].answer }}",
            "A38": "={{ $('lc-code').item.json.answers[7].answer }}",
            "A39": "={{ $('lc-code').item.json.answers[8].answer }}",
            "A40": "={{ $('lc-code').item.json.answers[9].answer }}",
            "A41": "={{ $('lc-code').item.json.answers[10].answer }}",
            "A42": "={{ $('lc-code').item.json.answers[11].answer }}",
            "A43": "={{ $('lc-code').item.json.answers[12].answer }}",
            "A44": "={{ $('lc-code').item.json.answers[13].answer }}",
            "A45": "={{ $('lc-code').item.json.answers[14].answer }}",
            "A46": "={{ $('tps-code').item.json.answers[0].answer }}",
            "A47": "={{ $('tps-code').item.json.answers[1].answer }}",
            "A48": "={{ $('tps-code').item.json.answers[2].answer }}",
            "A49": "={{ $('tps-code').item.json.answers[3].answer }}",
            "A50": "={{ $('tps-code').item.json.answers[4].answer }}",
            "A51": "={{ $('tps-code').item.json.answers[5].answer }}",
            "A52": "={{ $('tps-code').item.json.answers[6].answer }}",
            "A53": "={{ $('tps-code').item.json.answers[7].answer }}",
            "A54": "={{ $('tps-code').item.json.answers[8].answer }}",
            "A55": "={{ $('tps-code').item.json.answers[9].answer }}",
            "A56": "={{ $('tps-code').item.json.answers[10].answer }}",
            "A57": "={{ $('tps-code').item.json.answers[11].answer }}",
            "A58": "={{ $('tps-code').item.json.answers[12].answer }}",
            "A59": "={{ $('tps-code').item.json.answers[13].answer }}",
            "A60": "={{ $('tps-code').item.json.answers[14].answer }}",
            "A61": "={{ $('qr-code').item.json.answers[0].answer }}",
            "A62": "={{ $('qr-code').item.json.answers[1].answer }}",
            "A63": "={{ $('qr-code').item.json.answers[2].answer }}",
            "A64": "={{ $('qr-code').item.json.answers[3].answer }}",
            "A65": "={{ $('qr-code').item.json.answers[4].answer }}",
            "A66": "={{ $('qr-code').item.json.answers[5].answer }}",
            "A68": "={{ $('qr-code').item.json.answers[7].answer }}",
            "A67": "={{ $('qr-code').item.json.answers[6].answer }}",
            "A69": "={{ $('qr-code').item.json.answers[8].answer }}",
            "A70": "={{ $('qr-code').item.json.answers[9].answer }}",
            "A71": "={{ $('qr-code').item.json.answers[10].answer }}",
            "A72": "={{ $('qr-code').item.json.answers[11].answer }}",
            "A73": "={{ $('qr-code').item.json.answers[12].answer }}",
            "A74": "={{ $('qr-code').item.json.answers[13].answer }}",
            "A75": "={{ $('qr-code').item.json.answers[14].answer }}",
            "A76": "={{ $('vss-a-code').item.json.answers[0].answer }}",
            "A77": "={{ $('vss-a-code').item.json.answers[1].answer }}",
            "A78": "={{ $('vss-a-code').item.json.answers[2].answer }}",
            "A79": "={{ $('vss-a-code').item.json.answers[3].answer }}",
            "A80": "={{ $('vss-a-code').item.json.answers[4].answer }}",
            "A81": "={{ $('vss-a-code').item.json.answers[5].answer }}",
            "A82": "={{ $('vss-a-code').item.json.answers[6].answer }}",
            "A83": "={{ $('vss-a-code').item.json.answers[7].answer }}",
            "A84": "={{ $('vss-a-code').item.json.answers[8].answer }}",
            "A85": "={{ $('vss-a-code').item.json.answers[9].answer }}",
            "A86": "={{ $('vss-a-code').item.json.answers[10].answer }}",
            "A87": "={{ $('vss-a-code').item.json.answers[11].answer }}",
            "A88": "={{ $('vss-a-code').item.json.answers[12].answer }}",
            "A89": "={{ $('vss-a-code').item.json.answers[13].answer }}",
            "A90": "={{ $('vss-a-code').item.json.answers[14].answer }}",
            "A91": "={{ $('vss-b-code').item.json.answers[0].answer }}",
            "A92": "={{ $('vss-b-code').item.json.answers[1].answer }}",
            "A93": "={{ $('vss-b-code').item.json.answers[2].answer }}",
            "A94": "={{ $('vss-b-code').item.json.answers[3].answer }}",
            "A95": "={{ $('vss-b-code').item.json.answers[4].answer }}",
            "A96": "={{ $('vss-b-code').item.json.answers[5].answer }}",
            "A97": "={{ $('vss-b-code').item.json.answers[6].answer }}",
            "A98": "={{ $('vss-b-code').item.json.answers[7].answer }}",
            "A99": "={{ $('vss-b-code').item.json.answers[8].answer }}",
            "A100": "={{ $('vss-b-code').item.json.answers[9].answer }}",
            "A101": "={{ $('vss-b-code').item.json.answers[10].answer }}",
            "A102": "={{ $('vss-b-code').item.json.answers[11].answer }}",
            "A103": "={{ $('vss-b-code').item.json.answers[12].answer }}",
            "A104": "={{ $('vss-b-code').item.json.answers[13].answer }}",
            "A105": "={{ $('vss-b-code').item.json.answers[14].answer }}",
            "A106": "={{ $('pra-code').item.json.answers[0].answer }}",
            "A107": "={{ $('pra-code').item.json.answers[1].answer }}",
            "A108": "={{ $('pra-code').item.json.answers[2].answer }}",
            "A109": "={{ $('pra-code').item.json.answers[3].answer }}",
            "A110": "={{ $('pra-code').item.json.answers[4].answer }}",
            "A111": "={{ $('pra-code').item.json.answers[5].answer }}",
            "A112": "={{ $('pra-code').item.json.answers[6].answer }}",
            "A113": "={{ $('pra-code').item.json.answers[7].answer }}",
            "A114": "={{ $('pra-code').item.json.answers[8].answer }}",
            "A115": "={{ $('pra-code').item.json.answers[9].answer }}",
            "A116": "={{ $('pra-code').item.json.answers[10].answer }}",
            "A117": "={{ $('pra-code').item.json.answers[11].answer }}",
            "A118": "={{ $('pra-code').item.json.answers[12].answer }}",
            "A119": "={{ $('pra-code').item.json.answers[13].answer }}",
            "A120": "={{ $('pra-code').item.json.answers[14].answer }}",
            "P1": "={{ $('part1a-code1').item.json.answers[0].answer }}",
            "P2": "={{ $('part1a-code1').item.json.answers[1].answer }}",
            "P3": "={{ $('part1a-code1').item.json.answers[2].answer }}",
            "P4": "={{ $('part1a-code1').item.json.answers[3].answer }}",
            "P5": "={{ $('part1a-code1').item.json.answers[4].answer }}",
            "P6": "={{ $('part1a-code1').item.json.answers[5].answer }}",
            "P7": "={{ $('part1a-code1').item.json.answers[6].answer }}",
            "P8": "={{ $('part1a-code1').item.json.answers[7].answer }}",
            "P9": "={{ $('part1a-code1').item.json.answers[8].answer }}",
            "P10": "={{ $('part1a-code1').item.json.answers[9].answer }}",
            "P11": "={{ $('part1a-code1').item.json.answers[10].answer }}",
            "P12": "={{ $('part1a-code1').item.json.answers[11].answer }}",
            "P13": "={{ $('part1a-code1').item.json.answers[12].answer }}",
            "P14": "={{ $('part1a-code1').item.json.answers[13].answer }}",
            "P15": "={{ $('part1a-code1').item.json.answers[14].answer }}",
            "P16": "={{ $('part1a-code1').item.json.answers[15].answer }}",
            "P17": "={{ $('part1a-code1').item.json.answers[16].answer }}",
            "P18": "={{ $('part1a-code1').item.json.answers[17].answer }}",
            "P19": "={{ $('part1a-code1').item.json.answers[18].answer }}",
            "P20": "={{ $('part1a-code1').item.json.answers[19].answer }}",
            "P21": "={{ $('part1b-code').item.json.answers[0].answer }}",
            "P22": "={{ $('part1b-code').item.json.answers[1].answer }}",
            "P23": "={{ $('part1b-code').item.json.answers[2].answer }}",
            "P24": "={{ $('part1b-code').item.json.answers[3].answer }}",
            "P25": "={{ $('part1b-code').item.json.answers[4].answer }}",
            "P26": "={{ $('part1b-code').item.json.answers[5].answer }}",
            "P27": "={{ $('part1b-code').item.json.answers[6].answer }}",
            "P28": "={{ $('part1b-code').item.json.answers[7].answer }}",
            "P30": "={{ $('part1b-code').item.json.answers[9].answer }}",
            "P29": "={{ $('part1b-code').item.json.answers[8].answer }}",
            "P31": "={{ $('part1b-code').item.json.answers[10].answer }}",
            "P32": "={{ $('part1b-code').item.json.answers[11].answer }}",
            "P33": "={{ $('part1b-code').item.json.answers[12].answer }}",
            "P34": "={{ $('part1b-code').item.json.answers[13].answer }}",
            "P35": "={{ $('part1b-code').item.json.answers[14].answer }}",
            "P36": "={{ $('part1b-code').item.json.answers[15].answer }}",
            "P37": "={{ $('part1b-code').item.json.answers[16].answer }}",
            "P38": "={{ $('part1b-code').item.json.answers[17].answer }}",
            "P39": "={{ $('part1b-code').item.json.answers[18].answer }}",
            "P40": "={{ $('part1b-code').item.json.answers[19].answer }}",
            "P41": "={{ $('part1c-code1').item.json.answers[0].answer }}",
            "P42": "={{ $('part1c-code1').item.json.answers[1].answer }}",
            "P43": "={{ $('part1c-code1').item.json.answers[2].answer }}",
            "P44": "={{ $('part1c-code1').item.json.answers[3].answer }}",
            "P45": "={{ $('part1c-code1').item.json.answers[4].answer }}",
            "P46": "={{ $('part1c-code1').item.json.answers[5].answer }}",
            "P47": "={{ $('part1c-code1').item.json.answers[6].answer }}",
            "P48": "={{ $('part1c-code1').item.json.answers[7].answer }}",
            "P49": "={{ $('part1c-code1').item.json.answers[8].answer }}",
            "P50": "={{ $('part1c-code1').item.json.answers[9].answer }}",
            "I1": "={{ $('part2-code').item.json.answers[0].answer }}",
            "I2": "={{ $('part2-code').item.json.answers[1].answer }}",
            "I3": "={{ $('part2-code').item.json.answers[2].answer }}",
            "I4": "={{ $('part2-code').item.json.answers[3].answer }}",
            "I5": "={{ $('part2-code').item.json.answers[4].answer }}",
            "I6": "={{ $('part2-code').item.json.answers[5].answer }}",
            "I7": "={{ $('part2-code').item.json.answers[6].answer }}",
            "I8": "={{ $('part2-code').item.json.answers[7].answer }}",
            "I9": "={{ $('part2-code').item.json.answers[8].answer }}",
            "I10": "={{ $('part2-code').item.json.answers[9].answer }}",
            "I11": "={{ $('part2-code').item.json.answers[10].answer }}",
            "I12": "={{ $('part2-code').item.json.answers[11].answer }}",
            "I13": "={{ $('part2-code').item.json.answers[12].answer }}",
            "I14": "={{ $('part2-code').item.json.answers[13].answer }}",
            "I15": "={{ $('part2-code').item.json.answers[14].answer }}",
            "I16": "={{ $('part2-code').item.json.answers[15].answer }}",
            "I17": "={{ $('part2-code').item.json.answers[16].answer }}",
            "I18": "={{ $('part2-code').item.json.answers[17].answer }}",
            "I19": "={{ $('part2-code').item.json.answers[18].answer }}",
            "I20": "={{ $('part2-code').item.json.answers[19].answer }}",
            "I21": "={{ $('part2-code').item.json.answers[20].answer }}",
            "I22": "={{ $('part2-code').item.json.answers[21].answer }}",
            "I23": "={{ $('part2-code').item.json.answers[22].answer }}",
            "I24": "={{ $('part2-code').item.json.answers[23].answer }}",
            "I25": "={{ $('part2-code').item.json.answers[24].answer }}",
            "I26": "={{ $('part2-code').item.json.answers[25].answer }}",
            "I27": "={{ $('part2-code').item.json.answers[26].answer }}",
            "I28": "={{ $('part2-code').item.json.answers[27].answer }}",
            "I29": "={{ $('part2-code').item.json.answers[28].answer }}",
            "I30": "={{ $('part2-code').item.json.answers[29].answer }}",
            "I31": "={{ $('part2-code').item.json.answers[30].answer }}",
            "I32": "={{ $('part2-code').item.json.answers[31].answer }}",
            "I33": "={{ $('part2-code').item.json.answers[32].answer }}",
            "I34": "={{ $('part2-code').item.json.answers[33].answer }}",
            "I35": "={{ $('part2-code').item.json.answers[34].answer }}",
            "I36": "={{ $('part2-code').item.json.answers[35].answer }}",
            "I38": "={{ $('part2-code').item.json.answers[37].answer }}",
            "I37": "={{ $('part2-code').item.json.answers[36].answer }}",
            "I39": "={{ $('part2-code').item.json.answers[38].answer }}",
            "I40": "={{ $('part2-code').item.json.answers[39].answer }}",
            "I41": "={{ $('part2-code').item.json.answers[40].answer }}",
            "I42": "={{ $('part2-code').item.json.answers[41].answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "roll_no",
              "displayName": "roll_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dob",
              "displayName": "dob",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classes",
              "displayName": "classes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "section",
              "displayName": "section",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coupan",
              "displayName": "coupan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inner_step",
              "displayName": "inner_step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paper_step",
              "displayName": "paper_step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1",
              "displayName": "A1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2",
              "displayName": "A2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A3",
              "displayName": "A3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A4",
              "displayName": "A4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A5",
              "displayName": "A5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A6",
              "displayName": "A6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A7",
              "displayName": "A7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A8",
              "displayName": "A8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A9",
              "displayName": "A9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A10",
              "displayName": "A10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A11",
              "displayName": "A11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A12",
              "displayName": "A12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A13",
              "displayName": "A13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A14",
              "displayName": "A14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A15",
              "displayName": "A15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A16",
              "displayName": "A16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A17",
              "displayName": "A17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A18",
              "displayName": "A18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A19",
              "displayName": "A19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A20",
              "displayName": "A20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A21",
              "displayName": "A21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A22",
              "displayName": "A22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A23",
              "displayName": "A23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A24",
              "displayName": "A24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A25",
              "displayName": "A25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A26",
              "displayName": "A26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A27",
              "displayName": "A27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A28",
              "displayName": "A28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A29",
              "displayName": "A29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A30",
              "displayName": "A30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A31",
              "displayName": "A31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A32",
              "displayName": "A32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A33",
              "displayName": "A33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A34",
              "displayName": "A34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A35",
              "displayName": "A35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A36",
              "displayName": "A36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A37",
              "displayName": "A37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A38",
              "displayName": "A38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A39",
              "displayName": "A39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A40",
              "displayName": "A40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A41",
              "displayName": "A41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A42",
              "displayName": "A42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A43",
              "displayName": "A43",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A44",
              "displayName": "A44",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A45",
              "displayName": "A45",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A46",
              "displayName": "A46",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A47",
              "displayName": "A47",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A48",
              "displayName": "A48",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A49",
              "displayName": "A49",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A50",
              "displayName": "A50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A51",
              "displayName": "A51",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A52",
              "displayName": "A52",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A53",
              "displayName": "A53",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A54",
              "displayName": "A54",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A55",
              "displayName": "A55",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A56",
              "displayName": "A56",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A57",
              "displayName": "A57",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A58",
              "displayName": "A58",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A59",
              "displayName": "A59",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A60",
              "displayName": "A60",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A61",
              "displayName": "A61",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A62",
              "displayName": "A62",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A63",
              "displayName": "A63",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A64",
              "displayName": "A64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A65",
              "displayName": "A65",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A66",
              "displayName": "A66",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A67",
              "displayName": "A67",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A68",
              "displayName": "A68",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A69",
              "displayName": "A69",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A70",
              "displayName": "A70",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A71",
              "displayName": "A71",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A72",
              "displayName": "A72",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A73",
              "displayName": "A73",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A74",
              "displayName": "A74",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A75",
              "displayName": "A75",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A76",
              "displayName": "A76",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A77",
              "displayName": "A77",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A78",
              "displayName": "A78",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A79",
              "displayName": "A79",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A80",
              "displayName": "A80",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A81",
              "displayName": "A81",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A82",
              "displayName": "A82",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A83",
              "displayName": "A83",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A84",
              "displayName": "A84",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A85",
              "displayName": "A85",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A86",
              "displayName": "A86",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A87",
              "displayName": "A87",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A88",
              "displayName": "A88",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A89",
              "displayName": "A89",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A90",
              "displayName": "A90",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A91",
              "displayName": "A91",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A92",
              "displayName": "A92",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A93",
              "displayName": "A93",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A94",
              "displayName": "A94",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A95",
              "displayName": "A95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A96",
              "displayName": "A96",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A97",
              "displayName": "A97",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A98",
              "displayName": "A98",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A99",
              "displayName": "A99",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A100",
              "displayName": "A100",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A101",
              "displayName": "A101",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A102",
              "displayName": "A102",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A103",
              "displayName": "A103",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A104",
              "displayName": "A104",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A105",
              "displayName": "A105",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A106",
              "displayName": "A106",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A107",
              "displayName": "A107",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A108",
              "displayName": "A108",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A109",
              "displayName": "A109",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A110",
              "displayName": "A110",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A111",
              "displayName": "A111",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A112",
              "displayName": "A112",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A113",
              "displayName": "A113",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A114",
              "displayName": "A114",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A115",
              "displayName": "A115",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A116",
              "displayName": "A116",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A117",
              "displayName": "A117",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A118",
              "displayName": "A118",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A119",
              "displayName": "A119",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A120",
              "displayName": "A120",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P1",
              "displayName": "P1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P2",
              "displayName": "P2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P3",
              "displayName": "P3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P4",
              "displayName": "P4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P5",
              "displayName": "P5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P6",
              "displayName": "P6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P7",
              "displayName": "P7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P8",
              "displayName": "P8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P9",
              "displayName": "P9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P10",
              "displayName": "P10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P11",
              "displayName": "P11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P12",
              "displayName": "P12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P13",
              "displayName": "P13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P14",
              "displayName": "P14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P15",
              "displayName": "P15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P16",
              "displayName": "P16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P17",
              "displayName": "P17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P18",
              "displayName": "P18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P19",
              "displayName": "P19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P20",
              "displayName": "P20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P21",
              "displayName": "P21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P22",
              "displayName": "P22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P23",
              "displayName": "P23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P24",
              "displayName": "P24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P25",
              "displayName": "P25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P26",
              "displayName": "P26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P27",
              "displayName": "P27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P28",
              "displayName": "P28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P29",
              "displayName": "P29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P30",
              "displayName": "P30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P31",
              "displayName": "P31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P32",
              "displayName": "P32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P33",
              "displayName": "P33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P34",
              "displayName": "P34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P35",
              "displayName": "P35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P36",
              "displayName": "P36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P37",
              "displayName": "P37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P38",
              "displayName": "P38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P39",
              "displayName": "P39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P40",
              "displayName": "P40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P41",
              "displayName": "P41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P42",
              "displayName": "P42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P43",
              "displayName": "P43",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P44",
              "displayName": "P44",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P45",
              "displayName": "P45",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P46",
              "displayName": "P46",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P47",
              "displayName": "P47",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P48",
              "displayName": "P48",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P49",
              "displayName": "P49",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P50",
              "displayName": "P50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I1",
              "displayName": "I1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I2",
              "displayName": "I2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I3",
              "displayName": "I3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I4",
              "displayName": "I4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I5",
              "displayName": "I5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I6",
              "displayName": "I6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I7",
              "displayName": "I7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I8",
              "displayName": "I8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I9",
              "displayName": "I9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I10",
              "displayName": "I10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I11",
              "displayName": "I11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I12",
              "displayName": "I12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I13",
              "displayName": "I13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I14",
              "displayName": "I14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I15",
              "displayName": "I15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I16",
              "displayName": "I16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I17",
              "displayName": "I17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I18",
              "displayName": "I18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I19",
              "displayName": "I19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I20",
              "displayName": "I20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I21",
              "displayName": "I21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I22",
              "displayName": "I22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I23",
              "displayName": "I23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I24",
              "displayName": "I24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I25",
              "displayName": "I25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I26",
              "displayName": "I26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I27",
              "displayName": "I27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I28",
              "displayName": "I28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I29",
              "displayName": "I29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I30",
              "displayName": "I30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I31",
              "displayName": "I31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I32",
              "displayName": "I32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I33",
              "displayName": "I33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I34",
              "displayName": "I34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I35",
              "displayName": "I35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I36",
              "displayName": "I36",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I37",
              "displayName": "I37",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I38",
              "displayName": "I38",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I39",
              "displayName": "I39",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I40",
              "displayName": "I40",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I41",
              "displayName": "I41",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I42",
              "displayName": "I42",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        1136
      ],
      "id": "9aa0cc27-e09b-4fa5-a7c3-2190cc43a0dc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.lp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -112
      ],
      "id": "60a33541-b967-40d4-93d5-2b6052ea59f3",
      "name": "ip-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        -112
      ],
      "id": "7b40a7a4-9399-4860-ac99-5394a34b40f5",
      "name": "ip-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -112
      ],
      "id": "7ec585e6-43ce-46d1-82d5-e83a587d85cc",
      "name": "ip-code"
    },
    {
      "parameters": {
        "url": "={{ $json.pa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        80
      ],
      "id": "fbd22ecd-dae8-4dc8-9698-67745a14fe80",
      "name": "pa-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        80
      ],
      "id": "c8a9df86-db5b-4c8e-a4e3-d52253c07715",
      "name": "pa-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        80
      ],
      "id": "69ded9d6-f051-4a15-9fce-51feba2e4e18",
      "name": "pa-code"
    },
    {
      "parameters": {
        "url": "={{ $json.lc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        272
      ],
      "id": "a2d8761d-628a-4949-b96a-7bc8fd787b32",
      "name": "lc-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        272
      ],
      "id": "0ebc0dcf-92b9-4646-8ac5-6882ffed3116",
      "name": "lc-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        272
      ],
      "id": "e5d9a646-72ca-46e9-b661-698b61e2975a",
      "name": "lc-code"
    },
    {
      "parameters": {
        "url": "={{ $json.tps }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        464
      ],
      "id": "12d13ee3-5f6c-4764-842d-d0b46a38e042",
      "name": "tps-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        464
      ],
      "id": "b850aea7-22d8-4677-b0fd-5dbbbc7868c5",
      "name": "tps-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        464
      ],
      "id": "3f205b0f-1cdf-44f3-b4c7-e0f300d8ab7c",
      "name": "tps-code"
    },
    {
      "parameters": {
        "url": "={{ $json.qr }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        656
      ],
      "id": "90bf0ec3-5ec5-4926-b372-e316161a118b",
      "name": "qr-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        656
      ],
      "id": "96dc7f78-8227-41af-924a-a703546c145d",
      "name": "qr-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        656
      ],
      "id": "41e31edf-0c1d-43eb-9eca-7132716222cf",
      "name": "qr-code"
    },
    {
      "parameters": {
        "url": "={{ $json['vss-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        848
      ],
      "id": "fd917c91-34cb-4b84-811e-1360341e4c74",
      "name": "vss-a-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        848
      ],
      "id": "c31def42-1afb-4cc2-a820-53be15b014cf",
      "name": "vss-a-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        848
      ],
      "id": "2c1a0c90-599e-47f7-b14e-b3c8af583311",
      "name": "vss-a-code"
    },
    {
      "parameters": {
        "url": "={{ $json['vss-b'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1040
      ],
      "id": "7204d45b-e61b-4ce5-8580-218d0bc83c63",
      "name": "vss-b-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        1040
      ],
      "id": "ccdc71df-2dd7-4fe3-baff-3bc28045418b",
      "name": "vss-b-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1040
      ],
      "id": "643de787-c6e5-427a-b98e-15495cba3bfb",
      "name": "vss-b-code"
    },
    {
      "parameters": {
        "url": "={{ $json.pra }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1232
      ],
      "id": "41aca313-58a3-49f5-be3f-717adf12cf16",
      "name": "pra-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 15 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 15 = Q15.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":15,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        1232
      ],
      "id": "e37ffe2d-7a6f-4f8b-8e35-fda44b9f215a",
      "name": "prra-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1232
      ],
      "id": "bd8fd741-2e37-4c47-b345-e44df7b850c4",
      "name": "pra-code"
    },
    {
      "parameters": {
        "url": "={{ $json['part1-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1424
      ],
      "id": "6caa6799-c3e6-44f3-926a-50d038798bc3",
      "name": "part1-a-get1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1424
      ],
      "id": "ddcd5709-53fa-4036-870d-642ea1a574e5",
      "name": "part1a-code1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 20 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q1 ... row 20 = Q20.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":20,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        1424
      ],
      "id": "af4e21ef-037e-4372-92e7-f0731c2b61e1",
      "name": "part1a-anna1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['part1-b'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1616
      ],
      "id": "70ba253c-bbb9-43aa-8d14-e386ac5312d6",
      "name": "part1-b-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 20 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q21 ... row 20 = Q40.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":21,\"answer\":\"A\"},{...},{\"q_no\":40,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        1616
      ],
      "id": "7ad1dd49-ab1a-4289-9246-ddc1f6685406",
      "name": "part1b-anna",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1616
      ],
      "id": "c4794df1-cb0c-49f6-93c6-62d4c301e9a6",
      "name": "part1b-code"
    },
    {
      "parameters": {
        "url": "={{ $json['part1-c'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1808
      ],
      "id": "685a1b9b-523b-46a6-b813-67d4d30acdce",
      "name": "part1-c-get1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking an OMR-style answer grid.\nThe grid has 4 columns labeled A, B, C, D and exactly 10 rows.\nDo NOT read or infer printed question numbers.\nMap rows by position only: row 1 = Q41 ... row 20 = Q50.\nFor each row, choose the single option (A/B/C/D) whose box has the clearest tick/mark.\nIf none is clearly checked, return null for that row.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":41,\"answer\":\"A\"},{...},{\"q_no\":50,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        1808
      ],
      "id": "8347b770-ab1d-4b29-933d-4d1f85086da1",
      "name": "part1c-anna1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  if (Array.isArray(obj)) {\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  for (const k of Object.keys(obj || {})) {\n    const t = extractText(obj[k]);\n    if (t) return t;\n  }\n  return null;\n}\n\nfunction stripToJsonObject(s) {\n  s = String(s ?? \"\").trim();\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  return s.slice(start, end + 1);\n}\n\nfunction repairJson(s) {\n  let t = s;\n\n  // normalize curly quotes\n  t = t\n    .replace(/[]/g, '\"')\n    .replace(/[]/g, \"'\");\n\n  // remove trailing commas before } or ]\n  t = t.replace(/,\\s*([}\\]])/g, \"$1\");\n\n  // fix: \"answer\": D  -> \"answer\":\"D\"\n  // (only for single-letter A/B/C/D)\n  t = t.replace(/(\"answer\"\\s*:\\s*)([ABCD])(\\s*[,}])/g, '$1\"$2\"$3');\n\n  // fix: \"answer\": D\"  -> \"answer\":\"D\"\n  t = t.replace(/(\"answer\"\\s*:\\s*)([ABCD])\"\\s*([,}])/g, '$1\"$2\"$3');\n\n  // sometimes model returns \\n and \\\" in a half-escaped way\n  t = t.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n\n  return t;\n}\n\nreturn items.map((item) => {\n  const text = extractText(item.json);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  const raw = stripToJsonObject(text);\n\n  // Try strict parse first, then repair + parse\n  try {\n    return { json: JSON.parse(raw) };\n  } catch (e1) {\n    const fixed = repairJson(raw);\n    try {\n      return { json: JSON.parse(fixed) };\n    } catch (e2) {\n      // show a small snippet so you can see what broke (without dumping everything)\n      const preview = fixed.slice(Math.max(0, fixed.length - 400));\n      throw new Error(\n        `JSON parse failed even after repair.\\nOriginal error: ${e1.message}\\nAfter repair error: ${e2.message}\\nTail preview:\\n${preview}`\n      );\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1808
      ],
      "id": "b6f1ab64-0b0e-429a-90af-38f843a02189",
      "name": "part1c-code1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        1680
      ],
      "id": "84807084-db4d-4d4f-af8d-e572533b4ad8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "={{ $json['part2-a'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        2000
      ],
      "id": "046d6f10-f6e8-44d7-bc0b-f6db786dc074",
      "name": "part2-get"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are checking a questionnaire grid with two options per question.\nThere are exactly 42 questions shown in order, each with two boxes: Agree and Disagree.\nDo NOT read or rely on the printed question numbers.\nMap by position only: first row = Q1 ... last row = Q42.\nIf the Agree box is clearly marked, return answer \"A\".\nIf the Disagree box is clearly marked, return answer \"B\".\nIf neither box is clearly marked or its unclear, return null.\nIgnore stray dots or light smudges outside boxes.\nOutput ONLY valid JSON, no markdown, no extra text.\nUse this schema exactly:\n{\"section\":\"\",\"answers\":[{\"q_no\":1,\"answer\":\"A\"},{...},{\"q_no\":42,\"answer\":null}]}\n",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        2000
      ],
      "id": "5f8fe621-8cea-4668-a243-a8045849685f",
      "name": "part2-ana",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractText(obj) {\n  // Your input format: item.json[0][0].content[0].text\n  if (Array.isArray(obj)) {\n    // find first message-like object inside nested arrays\n    for (const a of obj) {\n      const t = extractText(a);\n      if (t) return t;\n    }\n    return null;\n  }\n\n  // direct message object\n  if (obj?.content?.[0]?.text) return obj.content[0].text;\n\n  // sometimes it's wrapped deeper\n  for (const k of Object.keys(obj || {})) {\n    const v = obj[k];\n    const t = extractText(v);\n    if (t) return t;\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const root = item.json;\n\n  const text = extractText(root);\n  if (!text) throw new Error(\"Could not find content[0].text in input item.\");\n\n  let s = String(text).trim();\n\n  // remove markdown code fences if ever present\n  s = s.replace(/^\\s*```(?:json)?\\s*/i, \"\").replace(/\\s*```\\s*$/i, \"\").trim();\n\n  // Extract first JSON object block\n  const start = s.indexOf(\"{\");\n  const end = s.lastIndexOf(\"}\");\n  if (start === -1 || end === -1 || end <= start) {\n    throw new Error(\"Could not locate JSON object braces in the text.\");\n  }\n  s = s.slice(start, end + 1);\n\n  // Parse JSON (handles escaped newlines etc.)\n  let data;\n  try {\n    data = JSON.parse(s);\n  } catch (e) {\n    const fixed = s.replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n    data = JSON.parse(fixed);\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        2000
      ],
      "id": "25352f28-44eb-464b-8c3f-df817c994859",
      "name": "part2-code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        1136
      ],
      "id": "a43ee3cb-dfbb-4fa7-bf8d-43ce1451922f",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        1024
      ],
      "id": "1a89f665-ebae-4fae-a2e7-b89a155015a4",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        1312
      ],
      "id": "2bbd47e1-31ea-48fc-8d98-5360e69767ed",
      "name": "Wait",
      "webhookId": "a282985d-0352-4ad1-bcee-57f064ac71ab"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ip-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "pa-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "lc-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "tps-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "qr-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "vss-a-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "vss-b-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "pra-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-a-get1",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-b-get",
            "type": "main",
            "index": 0
          },
          {
            "node": "part1-c-get1",
            "type": "main",
            "index": 0
          },
          {
            "node": "part2-get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-get": {
      "main": [
        [
          {
            "node": "ip-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-ana": {
      "main": [
        [
          {
            "node": "ip-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-get": {
      "main": [
        [
          {
            "node": "pa-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-ana": {
      "main": [
        [
          {
            "node": "pa-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pa-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "lc-get": {
      "main": [
        [
          {
            "node": "lc-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lc-ana": {
      "main": [
        [
          {
            "node": "lc-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lc-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "tps-get": {
      "main": [
        [
          {
            "node": "tps-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tps-ana": {
      "main": [
        [
          {
            "node": "tps-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tps-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "qr-get": {
      "main": [
        [
          {
            "node": "qr-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qr-ana": {
      "main": [
        [
          {
            "node": "qr-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qr-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "vss-a-get": {
      "main": [
        [
          {
            "node": "vss-a-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-a-anna": {
      "main": [
        [
          {
            "node": "vss-a-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-a-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "vss-b-get": {
      "main": [
        [
          {
            "node": "vss-b-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-b-anna": {
      "main": [
        [
          {
            "node": "vss-b-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vss-b-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "pra-get": {
      "main": [
        [
          {
            "node": "prra-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prra-anna": {
      "main": [
        [
          {
            "node": "pra-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pra-code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "part1-a-get1": {
      "main": [
        [
          {
            "node": "part1a-anna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1a-code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1a-anna1": {
      "main": [
        [
          {
            "node": "part1a-code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1-b-get": {
      "main": [
        [
          {
            "node": "part1b-anna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1b-anna": {
      "main": [
        [
          {
            "node": "part1b-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1b-code": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "part1-c-get1": {
      "main": [
        [
          {
            "node": "part1c-anna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1c-anna1": {
      "main": [
        [
          {
            "node": "part1c-code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part1c-code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "part2-get": {
      "main": [
        [
          {
            "node": "part2-ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part2-ana": {
      "main": [
        [
          {
            "node": "part2-code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "part2-code": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Execute workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking Execute workflow": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "ebed3573-1421-419f-941e-f90f02d34e29",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-18T03:49:44.377Z",
      "createdAt": "2025-12-18T03:49:44.377Z",
      "role": "workflow:owner",
      "workflowId": "Ko6P1vGfmx2Uztut",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "activeVersion": null,
  "tags": []
}