2025-12-05T00:00:40.009+05:30/health-care-offer-message-send.json
{
  "createdAt": "2025-11-21T17:25:11.838Z",
  "updatedAt": "2025-12-04T06:24:31.000Z",
  "id": "TN67UOLgDWUg5iWe",
  "name": "Health Care Offer Message Send",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        -608
      ],
      "id": "3d14617c-322b-42d7-99e5-632e53b9b7ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-posts/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeQuotePosts\": true,\n    \"includeReposts\": true,\n    \"maxComments\": 5,\n    \"maxPosts\": 5,\n    \"maxReactions\": 5,\n    \"scrapeComments\": false,\n    \"scrapeReactions\": false,\n    \"targetUrls\": [\n        \"{{ $json['LinkedIn Profile URL'] }}\",\"{{ $json['LinkedIn Company Page URL'] }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -928
      ],
      "id": "772c4972-ee81-43a3-8509-0b04fd505c8b",
      "name": "Linkedin Post Scraper",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "tZcqJ5wSEuakzT87",
          "name": "Clousor contact.clousor"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-post-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resultsLimit\": 5,\n    \"skipPinnedPosts\": false,\n    \"username\": [\n        \"{{ $json['Instagram Page URL'] }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -544
      ],
      "id": "0e467748-9767-4e9a-9955-216f5a7666f3",
      "name": "Instagram Post Scraper",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "hWYBNfIoczeK6lb3",
          "name": "Kamal Apify account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Company Website URL'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -352
      ],
      "id": "d0c5c473-367e-4109-84ff-99164802460c",
      "name": "Website scaper",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2032,
        -512
      ],
      "id": "e292c588-20ff-418a-9745-7f207b252bef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch reference data about Clousor’s Healthcare Patient Acquisition System from Google Sheets.\nThis tool reads all rows from the document “OFFER MASTER SHEET HEALTHCARE” Sheet1 (columns: Section, Key, Value) and returns company details, ICP, offer components, pricing, benefits and messaging.\nCall this tool whenever you need accurate company or offer information before generating any personalised cold email, LinkedIn DM or internal copy.",
        "documentId": {
          "__rl": true,
          "value": "1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ",
          "mode": "list",
          "cachedResultName": "OFFER MASTER SHEET HEALTHCARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 918231465,
          "mode": "list",
          "cachedResultName": "usd",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit#gid=918231465"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2160,
        -512
      ],
      "id": "87be4b0d-ac3d-4965-9ded-7d8bfb31867f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.toon) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Clousor’s Healthcare Cold Outreach Engine.\nYour job is to write high-end, personalised first-touch cold emails and LinkedIn DMs to busy clinic owners and decision makers in the USA, so they book a call or accept a free audit with Clousor Technologies Private Limited.\n\n1. Inputs you will receive\n\nFor each run you get a single JSON object with (at minimum):\n\nlead: one row from the lead sheet, e.g.:\n\nfirst_name, last_name, salutation\n\nrole\n\nclinic_name\n\nniche_tag (med_spa, cosmetic_dentist, plastic_surgeon, ortho_pain, etc.)\n\nwebsite_url, city, state, country\n\nemail, linkedin_url, instagram_url\n\nchannel_priority (email / linkedin / instagram)\n\nmain_treatment_focus (e.g. Invisalign, hair transplant, knee replacement)\n\npersonalisation_hint and notes_internal (optional)\n\nanalysis: a cleaned profile of the clinic, typically with keys like:\n\nlead_identity (who they are, where they are)\n\ncompany_summary (what they do, core services, target audience)\n\ndigital_presence (posting frequency, content themes, social proof)\n\ngrowth_and_marketing_insights (what seems to work, gaps, opportunities)\n\npersonalisation_ready_insights (best hooks, tone suggestion, recommended_primary_channel)\n\ncase_studies: optional array of case studies, where each item has:\n\ncase_id\n\nclient_niche, country\n\nengagement_type\n\nstarting_point\n\nwhat_we_did\n\nkey_metrics\n\ntimeframe\n\nquote_or_result_line\n\ncan_use_client_name (\"yes\"/\"no\")\n\nYou also have access to a Google Sheets tool that returns all rows from the company_offer sheet (columns: Section, Key, Value) containing the latest truth about:\n\nClousor’s company description and brand voice\n\nThe “Healthcare Patient Acquisition System” offer\n\nICP and problems solved\n\nThe pillars of the system\n\nPricing ranges and terms\n\nLead magnet offers (Patient Flow Leak Audit, 90-Day Game Plan Call)\n\nBooking link and reply email\n\nAlways call the Google Sheets tool once at the start of each run and treat that data as the single source of truth for Clousor’s offer, pricing, ICP and messaging.\nDo not invent new pricing, guarantees, case studies, metrics or medical claims.\n\nAlso: never promise clinical outcomes or cures. You may talk about enquiries, consults, demand, lead quality, operational clarity and ROI visibility, not patient health outcomes.\n\n2. Your objectives\n2.1 Understand the clinic and context\n\nFrom lead + analysis, infer:\n\nMain niche and treatment focus\n\nLikely priorities (e.g. more self-pay patients, filling schedule, launching new program)\n\nLikely problems (unpredictable demand, weak funnel, lead leakage, no numbers)\n\nFrom case_studies, if available:\n\nPick one most relevant example (same or similar niche, or similar challenge).\n\nOnly use metrics and lines that are actually present in the case study.\n\nUse the clinic’s name only if can_use_client_name = \"yes\".\n\n2.2 Choose the right CTA\n\nBased on the situation, pick one primary CTA:\n\nPatient Flow Leak Audit – free Loom/video audit of their current funnel\n\n90-Day Patient Acquisition Game Plan Call – focused strategy call\n\nUse the booking link and reply email from the company sheet where appropriate.\n\nWhen deciding primary channel:\n\nPrefer analysis.personalisation_ready_insights.recommended_primary_channel if present.\n\nOtherwise fall back to lead.channel_priority.\n\nIf both are missing, default to email as primary.\n\n3. Outputs you must generate\n\nAlways produce a single JSON object with these keys:\n\n{\n  \"primary_channel\": \"email or linkedin\",\n  \"primary_cta\": \"leak_audit or game_plan_call\",\n  \"email_subject\": \"...\",\n  \"email_body\": \"...\",\n  \"linkedin_dm\": \"...\"\n}\n\n\nYou must always fill all fields.\n\n4. Cold email requirements\n\nAudience: clinic owners, medical directors, practice managers in the USA.\nLength: ~80–130 words.\nStyle: professional, clear, calm, no hype, no fluff; outcome-focused.\n\nPersonalisation:\n\nLine 1–2 must be clearly personalised, using specific details from analysis or lead:\n– their main treatment, city, a specific offer they promote, type of content they post, or the way they position their clinic.\n\nIt should feel like a human who has looked at their online presence, not like a generic template.\n\nContent guidelines:\n\nTalk about their outcomes:\n– more qualified consults, stable demand, fewer lost leads, clearer numbers.\n\nBriefly introduce Clousor using the company sheet:\n– who we work with (ICP) and what system we install (Patient Acquisition System).\n– keep this to 1–2 sentences, no long agency story.\n\nUse one relevant case study if available:\n– mention niche and result in simple language.\n– name the client only if can_use_client_name = \"yes\", otherwise keep it generic (“a cosmetic dental practice”, “an orthopedic clinic”).\n\nNo fake urgency, no “limited time only”, no loud sales talk.\n\nCTA:\n\nIf CTA is Game Plan Call:\n– End with something like:\n\n“Would you be open to a quick 20-minute call to see if this would work for [clinic_name] in [city]?”\n– Include the booking link from the company sheet.\n\nIf CTA is Leak Audit:\n– End with something like:\n\n“Would you like a short Loom audit of your current funnel with a few practical fixes?”\n– Tell them to reply “Yes” or reply with their main treatment focus.\n\n5. LinkedIn DM requirements\n\nLength: ~50–80 words.\nTone: conversational but still professional and calm.\n\nPersonalisation:\n\nFirst line must again be personalised using something real about them:\n– treatment focus, city, a specific offer, content angle, or short compliment on something real they do.\n\nContent:\n\nReuse the same core idea as the email but shorter.\n\nFocus on:\n– what you noticed,\n– what outcome you help with,\n– and the simple next step.\n\nCTA:\n\nSame CTA as the email (Game Plan Call or Leak Audit) but lighter phrasing, for example:\n– “If you’re open, I can share a short 90-day game plan tailored to [treatment] in [city].”\n– “Happy to record a 5–10 minute Loom walking through quick wins for your funnel.”\n\n6. Salutation and tone rules\n\nFor doctors / dentists / surgeons:\n\nUse: “Hello Dr. <LastName>” if it is clearly a medical doctor or dentist.\n\nFor others:\n\nIf salutation is available and clearly gendered:\n– Use “Hello Mr. <LastName>” or “Hello Ms. <LastName>”.\n\nIf not clear, use: “Hello <FirstName>”.\n\nGeneral tone:\n\nNo “I hope this email finds you well” and similar clichés.\n\nNo buzzwords like “cutting-edge”, “game-changing”, unless they appear in company sheet.\n\nCalm, confident, respectful. You are speaking peer-to-peer to busy decision makers.\n\n7. Do not reveal scraping or internals\n\nYou may reference what they do or promote (e.g. “your Invisalign focus in Dallas”, “the before-and-after posts you share on Instagram”), but do not say things like:\n\n“I scraped your website”\n\n“I analysed your LinkedIn posts with a tool”\n\nSpeak as someone who has looked at their online presence in a normal, human way."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2032,
        -736
      ],
      "id": "7d71ec32-2abc-47f5-8c84-194debb30624",
      "name": "Clousor Healthcare Cold Outreach Engine"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || \"\";\n\n// remove script and style blocks\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\");\n\n// remove all tags\ntext = text.replace(/<[^>]+>/g, \" \");\n\n// collapse spaces\ntext = text.replace(/\\s+/g, \" \").trim();\n\n// keep first 4000 6000 chars for AI so it is not too big\nconst limited = text.slice(0, 30000);\n\nreturn [\n  {\n    json: {\n      page_text: limited\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -352
      ],
      "id": "18501a79-bac0-4ffc-b273-d23e116cac26",
      "name": "Get clean the data webiste"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"meta\": {\n    \"salutation\": \"Hello Dr. Patel\",\n    \"chosen_primary_channel\": \"email\",\n    \"cta_type\": \"loom_audit\",\n    \"cta_link\": \"\",\n    \"chosen_case_study_id\": \"\",\n    \"one_line_personalisation\": \"Short hook\"\n  },\n  \"email\": {\n    \"subject\": \"Subject\",\n    \"body\": \"Body\"\n  },\n  \"linkedin\": {\n    \"connection_note\": \"Note\",\n    \"dm\": \"DM\"\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2288,
        -512
      ],
      "id": "9289b647-ed07-4cb9-a9ae-301207a18b6b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-profile-detail/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeEmail\": false,\n    \"username\": \"{{ $json['LinkedIn Profile URL'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -1120
      ],
      "id": "4ec870e9-449e-492d-a088-388a564bd355",
      "name": "Linkedin Profile",
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "tZcqJ5wSEuakzT87",
          "name": "Clousor contact.clousor"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 5,
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        -784
      ],
      "id": "179e59e3-1e14-40b8-84a8-7e6f673cc71c",
      "name": "Merge",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputField": "={{ $json }}",
        "outputField": "toon"
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        1680,
        -736
      ],
      "id": "2043f371-6cc1-4f06-ae41-ede80102ac4b",
      "name": "TOON",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1904,
        -512
      ],
      "id": "a75ebc0a-7c5e-42f8-9ad9-3edb656fba4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2368,
        -304
      ],
      "id": "71a227a4-0a30-4a90-a177-5c8a5f47af3c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XNOylXtje9ckQrwF",
          "name": "Main clousor account(not use paid account)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ",
          "mode": "list",
          "cachedResultName": "OFFER MASTER SHEET HEALTHCARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2045441755,
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit#gid=2045441755"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -848
      ],
      "id": "7cb618c2-78e4-4936-b630-23d6b93435b6",
      "name": "get leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ",
          "mode": "list",
          "cachedResultName": "OFFER MASTER SHEET HEALTHCARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716830802,
          "mode": "list",
          "cachedResultName": "tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit#gid=1716830802"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -656
      ],
      "id": "78aa35b3-01ec-4dbc-ab52-d8af58aff1e6",
      "name": "get tracking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        112,
        -752
      ],
      "id": "699d27a9-0a25-4800-ac0f-dc0a0a5b9e66",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Email",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        -752
      ],
      "id": "0a7ecfb7-f645-4671-97b2-9181e9617f08",
      "name": "Fileter already send email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -752
      ],
      "id": "ce38433f-db4b-4a26-842a-7f6660c39f79",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "535aea3e-e311-4c35-8aa3-e2b1a6f2e1a6",
              "name": "Instagram Page URL",
              "value": "={{$json[\"Instagram Page URL\"] ? $json[\"Instagram Page URL\"].split(',')[0].trim() : \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -544
      ],
      "id": "21a76c5d-7dd4-4dcb-ae20-206777e7f4c5",
      "name": "Remove Multiple Instgram account"
    },
    {
      "parameters": {
        "jsCode": "// Helper functions\nfunction safeItems(nodeName) {\n  try {\n    return $items(nodeName) || [];\n  } catch (e) {\n    return [];\n  }\n}\n\nfunction safeFirst(nodeName) {\n  const items = safeItems(nodeName);\n  return items.length ? items[0].json : null;\n}\n\nfunction trimText(text, maxChars) {\n  if (!text) return \"\";\n  const s = text.toString();\n  if (s.length <= maxChars) return s;\n  return s.slice(0, maxChars) + \"...\";\n}\n\n// 1) Base lead (from your cleaned sheet row)\nconst lead = safeFirst(\"lead-data-toon\") || {};\n\n// 2) LinkedIn profile summary (toon)\nconst liProfile = safeFirst(\"linkedin-profile-toon\");\nconst linkedinProfileSummary = liProfile?.toon || null;\n\n// 3) LinkedIn posts - keep only a few and only useful text\nconst linkedinPosts = safeItems(\"linkedin-post-toon\")\n  .map(i => {\n    const j = i.json;\n    return {\n      url: j.linkedinUrl || null,\n      text: trimText(j.toon || j.content || \"\", 600) // 600 chars per post\n    };\n  })\n  .slice(0, 3); // first 3 posts\n\n// 4) Instagram posts - again, keep only a few\nconst instagramPosts = safeItems(\"instagram-post-toon\")\n  .map(i => {\n    const j = i.json;\n    return {\n      url: j.url || j.inputUrl || null,\n      caption: trimText(j.toon || j.caption || \"\", 400) // 400 chars per post\n    };\n  })\n  .slice(0, 3);\n\n// 5) Website text - trimmed\nconst websiteNode = safeFirst(\"Get clean the data webiste\");\nconst websiteText = websiteNode?.page_text || \"\";\nconst websiteSnippet = trimText(websiteText, 1500); // total cap for site\n\n// 6) Lean lead object for the AI\nconst cleanLead = {\n  full_name: lead[\"Full Name\"] || null,\n  company_name: lead[\"Company Name\"] || null,\n  role: lead[\"Role\"] || null,\n  city: lead[\"City\"] || null,\n  country: lead[\"Country\"] || null,\n  email: lead[\"Email\"] || null,\n  website_url: lead[\"Company Website URL\"] || null,\n  linkedin_profile_url: lead[\"LinkedIn Profile URL\"] || null,\n  linkedin_company_url: lead[\"LinkedIn Company Page URL\"] || null,\n  instagram_url: (() => {\n    const raw = lead[\"Instagram Page URL\"] || \"\";\n    if (!raw) return null;\n    // in case multiple urls are still there, keep first one only\n    return raw.split(\",\")[0].trim();\n  })(),\n};\n\n// 7) Final compact payload for your personalised email agent\nconst payload = {\n  lead: cleanLead,\n  context: {\n    linkedin_profile_summary: linkedinProfileSummary,\n    linkedin_recent_posts: linkedinPosts,\n    instagram_recent_posts: instagramPosts,\n    website_snippet: websiteSnippet\n  }\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -736
      ],
      "id": "9d41db35-e4d2-4b14-b855-e7a0c29d144a",
      "name": "All Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputField": "={{ $json }}",
        "outputField": "toon"
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        1008,
        -1120
      ],
      "id": "ebc4c626-059e-4dcf-9026-36ab8c64f005",
      "name": "linkedin-profile-toon",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputField": "={{ $json }}",
        "outputField": "toon"
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        1008,
        -928
      ],
      "id": "3e5fd9c4-7e2f-4982-a548-bd4dde8a3cd0",
      "name": "linkedin-post-toon",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputField": "={{ $json }}",
        "outputField": "toon"
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        1008,
        -736
      ],
      "id": "e376a4ad-e13c-423c-bf09-889563f7e1dc",
      "name": "lead-data-toon",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputField": "={{ $json }}",
        "outputField": "toon"
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        1008,
        -544
      ],
      "id": "da4e4a2b-6ad5-4784-8d88-c78937327d38",
      "name": "instagram-post-toon",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ",
          "mode": "list",
          "cachedResultName": "OFFER MASTER SHEET HEALTHCARE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716830802,
          "mode": "list",
          "cachedResultName": "tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ahMHdDHgqXSW9t_vHx2sEPKJxApmOUAn8JGCD6n9KyQ/edit#gid=1716830802"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Name": "={{ $json.output.meta.salutation }}",
            "Email": "={{ $('Loop Over Items').item.json.Email }}",
            "Subject": "={{ $json.output.email.subject }}",
            "Email Body": "={{ $json.output.email.body }}",
            "Linkedin Connection": "={{ $json.output.linkedin.connection_note }}",
            "Linkedin DM": "={{ $json.output.linkedin.dm }}",
            "One line personlize": "={{ $json.output.meta.one_line_personalisation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin DM",
              "displayName": "Linkedin DM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin Connection",
              "displayName": "Linkedin Connection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "One line personlize",
              "displayName": "One line personlize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        -736
      ],
      "id": "378cffc5-781a-46ba-9772-0893114b2547",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed7ebfb6-9624-4cbd-9482-048ffba678c4",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        -752
      ],
      "id": "65115c15-2d96-4a54-abb1-3505966b8bd4",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        -896
      ],
      "id": "c7d62273-4b65-46c2-becd-e9473cd6f8a4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        -480
      ],
      "id": "8e5e137a-5e99-4f15-83f8-440b0b8df104",
      "name": "Wait",
      "webhookId": "36d6f4cf-6950-4292-abe9-bf584bc7a399"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "get tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website scaper": {
      "main": [
        [
          {
            "node": "Get clean the data webiste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Post Scraper": {
      "main": [
        [
          {
            "node": "linkedin-post-toon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post Scraper": {
      "main": [
        [
          {
            "node": "instagram-post-toon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Clousor Healthcare Cold Outreach Engine",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Clousor Healthcare Cold Outreach Engine",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clousor Healthcare Cold Outreach Engine": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get clean the data webiste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Clousor Healthcare Cold Outreach Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Profile": {
      "main": [
        [
          {
            "node": "linkedin-profile-toon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOON": {
      "main": [
        [
          {
            "node": "Clousor Healthcare Cold Outreach Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clousor Healthcare Cold Outreach Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get leads": {
      "main": [
        [
          {
            "node": "Fileter already send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get tracking": {
      "main": [
        [
          {
            "node": "Fileter already send email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fileter already send email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Linkedin Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin Post Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Website scaper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Multiple Instgram account",
            "type": "main",
            "index": 0
          },
          {
            "node": "lead-data-toon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Multiple Instgram account": {
      "main": [
        [
          {
            "node": "Instagram Post Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Data": {
      "main": [
        [
          {
            "node": "TOON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin-profile-toon": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin-post-toon": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "lead-data-toon": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "instagram-post-toon": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "get tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c224ce10-0d5e-4905-8d65-a4ccc2c6fc04",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-21T17:25:11.842Z",
      "updatedAt": "2025-11-21T17:25:11.842Z",
      "role": "workflow:owner",
      "workflowId": "TN67UOLgDWUg5iWe",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "tags": []
}