2025-12-03T00:00:40.004+05:30/hunjan-direct-call-follow-up-message-reminder.json
{
  "createdAt": "2025-11-27T11:46:58.088Z",
  "updatedAt": "2025-11-27T12:04:18.000Z",
  "id": "7vwmWo1hjoyQnkU0",
  "name": "Hunjan Direct Call Follow Up Message Reminder",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "db6ad457-cad9-46e6-bd73-c2b5cbfb6975",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM",
          "mode": "list",
          "cachedResultName": "Daily Direct Call Log - Hunjan Hospital (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634958174,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM/edit#gid=1634958174"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        80
      ],
      "id": "24b96c33-998b-416d-8329-7b163eab4ebb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        80
      ],
      "id": "9a565309-bad3-401b-9d1c-23f5df50b8eb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        672,
        80
      ],
      "id": "688938f6-c7f7-4c89-aecb-c96408ccf913"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e11397ca-d89c-4178-b988-193cf339f697",
              "leftValue": "={{ $json['Follow up Date'] }}",
              "rightValue": "={{ $now.toFormat('dd/LL/yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        152
      ],
      "id": "1b71cb0e-2dde-4964-9300-aebe68af57c0",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PULCQ533",
          "mode": "list",
          "cachedResultName": "hunjan-leads"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {}
      },
      "name": "Slack Post2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "f59c76f4-2637-4f36-9286-377932e6f019",
      "webhookId": "df9653c7-d2c0-44bd-90bf-74c823e620b6",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Clousor N8N"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e11397ca-d89c-4178-b988-193cf339f697",
              "leftValue": "={{ $json['Follow up Date'] }}",
              "rightValue": "={{ $now.toFormat('dd/LL/yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        480
      ],
      "id": "d200dc64-a844-407e-a822-164796e836ee",
      "name": "Follow Up is Today?"
    },
    {
      "parameters": {
        "jsCode": "if (items.length === 0) {\n  // No follow ups for today, stop here so Slack doesn't run\n  return [];\n}\n\nconst lines = items.map((item, index) => {\n  const d = item.json;\n  return (index + 1) + '. ' +\n    d['Patient Name'] +\n    ' | ' + d['Patient Mobile Number'] +\n    ' | ' + d['Follow up Date'] +\n    (d['Patient Notes/Query'] ? ' | ' + d['Patient Notes/Query'] : '');\n});\n\nreturn [\n  {\n    json: {\n      slackText: '*Today\\'s follow ups (' + items.length + ')*\\n' + lines.join('\\n')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        480
      ],
      "id": "029fff58-31b7-4239-a65d-b7a8a19af0f6",
      "name": "Build Slack Message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PULCQ533",
          "mode": "list",
          "cachedResultName": "hunjan-leads"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {}
      },
      "name": "Slack Post (Today Follow Ups)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1392,
        480
      ],
      "id": "3db0a7a7-3336-481b-a975-b75ab2edf9e3",
      "webhookId": "df9653c7-d2c0-44bd-90bf-74c823e620b6",
      "credentials": {
        "slackApi": {
          "id": "2LlRRGmYe6uTO8Xv",
          "name": "Clousor N8N"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM",
          "mode": "list",
          "cachedResultName": "Daily Direct Call Log - Hunjan Hospital (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634958174,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYYqomwYrJkbDBys2jexD-Ul5AlG4I5Y8LAH2AhyvVM/edit#gid=1634958174"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        480
      ],
      "id": "eabc73a6-780f-4658-be7a-5f589429a563",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c44eVWIbUmibHQS7",
          "name": "contact.itskamal Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Slack Post2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up is Today?": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Slack Post (Today Follow Ups)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Follow Up is Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6c38f720-4934-42a1-ae56-28176fc68e57",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-27T11:46:58.096Z",
      "updatedAt": "2025-11-27T11:46:58.096Z",
      "role": "workflow:owner",
      "workflowId": "7vwmWo1hjoyQnkU0",
      "projectId": "ZX30KUrzrE1L7qmM"
    }
  ],
  "tags": []
}